<style><!--
#category_top_banner {
    padding: 3px 20px 3px 12px;
    margin:0 0 16px 0;
    display: flex;
    align-items: center;
    height: 180px;
    overflow:hidden;
    position: relative;
    text-decoration:none;
    color:#222;
}

#category_top_banner .imgct {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#category_top_banner .txtct {
    margin:0;
    font-size: 28px;
    width:50%;
    max-height: 82%;
    padding:0 0 0 16px;
}

#category_top_banner .txtct h2 {
    margin:0;
    font-size: 1em;
    color:#222;
    line-height: 1.1em;
}
#category_top_banner .txtct h2 small {
    color:#333;
    margin-top: 12px;
    font-size: 0.6em;
    display: block;
    line-height: 1.3em;
}
#category_top_banner .go_button {
    display: inline-block;
    margin: 16px 0 0 0;
    text-align: center;
    line-height: 1.0em;
    padding: 6px 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    background-color: #e27c7c;
    border-radius: 5px;
    letter-spacing: 0.03em;
    width: max-content;
}
#category_top_banner:hover .go_button {
    background-color:#db5e5e;
}
#category_top_banner .go_button span.sm { display:none; }

@media (max-width: 1199px) {
    #category_top_banner .imgct { }
}
@media (max-width: 767px) {
    #category_top_banner { padding:3px 16px 3px 0px; margin:0 -15px 16px -15px; height:170px;}
    #category_top_banner .imgct { }
    #category_top_banner .txtct { font-size:24px; }
    #category_top_banner .txtct h2 small { font-size: 0.7em; }
}
@media (max-width: 559px) {
    #category_top_banner { padding:3px 16px 3px 0px; height:140px;}
    #category_top_banner .imgct { /*width:45%;*/ }
    #category_top_banner .txtct { /*width:55%;*/ font-size:18px; }
    #category_top_banner .go_button { padding:4px 8px; font-size: 11px; }
}
@media (max-width: 399px) {
    #category_top_banner .imgct { }
    #category_top_banner .txtct { font-size:18px; }
    #category_top_banner .go_button { padding:4px 8px; font-size: 11px; }
    #category_top_banner .go_button span.sm { display:inline; }
    #category_top_banner .go_button span.lg { display:none; }
}

/* * * * * * * * * * EDIT this * * * * * * * * * */
/* image min resolution: 410x175 (keep the aspect ratio) */

/* BACKGROUND*/
#category_top_banner { background-color: #EAE8E9; }

/* IMAGE */
#category_top_banner .imgct {
    background-image: url('{{media url="wysiwyg/HMW/banners/Banners-Splashpage/Banner-fitform2.jpg"}}');
}

--></style>
<a id="category_top_banner" href="/brochure-aanvragen">
    <div class="imgct"></div>
    <div class="txtct">
        <h2>Aan huis bij u opgemeten<small>Stoelen aangepast op uw wensen en behoeften!</small></h2>
        <div class="go_button">
            <span class="lg">Gratis brochure aanvragen</span>
            <span class="sm">Gratis brochure</span>
            <em class="fa fa-caret-right"></em>
        </div>
    </div>
    <div style="clear: both;"></div>
</a>
