<div class="col-xs-12 pad0 hidden-xs hidden-sm blcatcont1 block">
    <div class="col-xs-8 pad0 contactcont">
        <div class="col-xs-12 pad0 contactconttitle">Hulp nodig bij het kiezen van een Rollator?</div>
        <div class="col-xs-12 pad0">
            <div class="col-xs-12 pad0 contactconti">
                 <i class="fa fa-angle-double-right"></i>
            </div>
            <div class="col-xs-12 pad0 contactconta"><a class="various" href="#call-me-back">Vraag persoonlijk advies</a> </div>
        </div>
    </div>
    <div class="col-xs-8 pad0 contactcimg">
        <img src="{{skin url='images/cont_lcat.png'}}" alt="">
    </div>
</div>

<div id="call-me-back">
    <div class="col-xs-12 pad0 bcontgorm">
        <h4 class="contnform">Bel mij terug</h4>

        {{block type="gn_callmeback/callmeback_inline_block" template="gn/callmeback/inline-form.phtml"}}
    </div>
</div>