<a href="/vrije-tijd-hobby/seniorentelefoons" class="hobphone_blkfriday" style="background-color:#ffffff; background-image:url('{{media url="wysiwyg/hobby_seniorentelefoons-banner.jpg"}}');">
<div class="txt_ct">
    <div class="tt1 tt3">
        <div>PRE-BLACK</div>
        <div class="big">FRIDAY</div>
        <div>SALE</div>
    </div>

    <div class="tt1 tt2">
        <div>15% <span style=" color: #db5e5e; ">KORTING</span></div>
        <div class="small">Seniorentelefoons</div>
        <div>alleen vandaag</div>
    </div>
</div>
</a>


<style type="text/css">

    a.hobphone_blkfriday {
        position: relative;
        background-position: 100% 46%;
        background-size: cover;
        display: block;
        border: 1px solid #ddd;
        text-decoration: none;
    }

    a.hobphone_blkfriday .txt_ct{
        background: none;
        text-align: center;
        padding: 0;
        display: flex;
        color: #ffffff;
        font-size: 15px;
        justify-content: space-evenly;
        font-weight: 600;
        align-items: center;
        height: 125px;
    }

    a.hobphone_blkfriday .txt_ct .tt1{
        font-size: 1.3em;
        line-height: 1.0em;
    }

    a.hobphone_blkfriday .txt_ct .tt2 {
        font-size: 1.4em;
        line-height: 1.1em;
        color: #000000;
        width: 52%;
        padding: 0 14% 0 0;
    }

    a.hobphone_blkfriday .txt_ct .tt2 .small {
        font-size: 0.85em;
    }

    a.hobphone_blkfriday .txt_ct .tt3{
        width: 48%;
    }

    a.hobphone_blkfriday .button{
        padding: 0.3em 1.6em;
        font-size: 0.7em;
        margin-top: 0.8em;
    }

    a.hobphone_blkfriday .txt_ct .tt3 .big {
        font-size: 2em;
        line-height: 1.2em;
    }

    @media screen and (max-width: 560px){
        a.hobphone_blkfriday .txt_ct{
            font-size: 14px;
        }
        a.hobphone_blkfriday .txt_ct .tt2 {
            padding: 0 16% 0 0;
        }
    }

    @media screen and (max-width: 490px){
        a.hobphone_blkfriday .txt_ct{
            font-size: 12px;
        }
        a.hobphone_blkfriday .txt_ct .tt3 {
            width: 43%;
        }
        a.hobphone_blkfriday .txt_ct .tt2 {
            width: 230px;
            padding: 0 74px 0 0;
        }
    }

    @media screen and (max-width: 420px){
        a.hobphone_blkfriday {
            background-position: right 6px;
            background-size: 500px;
        }
        a.hobphone_blkfriday .txt_ct {
            display: block;
            overflow: hidden;
        }
        a.hobphone_blkfriday .txt_ct .tt3 .big {
            font-size: 1em;
            margin: 0 0.1em;
        }
        a.hobphone_blkfriday .txt_ct .tt3 {
            width: 100%;
            background-color: #000;
            padding: 4px 0px;
        }
        a.hobphone_blkfriday .txt_ct .tt3 div {
            display: inline;
        }
        a.hobphone_blkfriday .txt_ct .tt2 {
            margin: 0px 96px 0 0;
            width: auto;
            background-color: #ffffff;
            padding: 18px 0 0 0;
            height: 99px;
        }
    }

</style>
