{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<style type="text/css">
    html,body { background:none !important; background-color:none !important; }
</style>

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Beste {{var br.getFirstName()}} {{var br.getLastName()}},</h1>
            <p>Bedankt voor uw aanvraag bij Hulpmiddelwereld. Onderstaand vindt u een overzicht van uw gegevens.</p>
            <p><strong>Naam:</strong> {{var br.getPrefix()}} {{var br.getFirstName()}} {{var br.getLastName()}}</p>
            <p><strong>Adres:</strong> {{var br.getStreetName()}} {{var br.getHouseNumber()}}   {{var br.getHouseNumberAddition()}}<br></p>
            <p><strong>Postcode, stad:</strong> {{var br.getPostcode()}}, {{var br.getCity()}}</p>
            <p><strong>Land:</strong> {{var br.getCountryId()}}</p>
            <p><strong>E-mail adres:</strong> {{var br.getEmailAddress()}}</p>
            {{depend br.getProductId()}}
            <p><strong>Product:</strong> {{var br.getProduct().getName()}}</p>
            {{/depend}}
            <p><strong>Hoe heeft u ons gevonden:</strong> {{var br.getDiscoveryMethod()}}</p>
            <p>Wij sturen alles zo snel mogelijk naar u op!</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}