
body {
    margin:0;
    padding:0;
    color:#555555;
    font-family: "Open Sans",Arial,Helvetica;
    font-size:13px;
    line-height:1.3em;
    letter-spacing:0.05em;
}

@media (max-width: 991px) {
    body { font-size: 12px; }
}



a { color:#62b3e0; text-decoration:underline; }
a:hover { text-decoration:underline; }
p { margin:0.5em 0; }
strong { font-weight:600; }
