<style type="text/css">
    .in_desc_table1 {
        width: 100%;
        margin:1em 0 1.5em 0;
        font-size: 0.9em;
    }
    .in_desc_table1 th, .in_desc_table1 td {
        padding: 0.7em 0.7em;
        text-align: center;
        border: 1px solid #ddd;
        line-height: 1.3em;
    }
    .in_desc_table1 .fa { font-size:1.4em; font-weight:normal; }
    .in_desc_table1 .fa-check { color: #0055aa; }
    .in_desc_table1 .fa-times { color: #f37169; }
    .in_desc_table1 tr th, .in_desc_table1 .ft { background-color:#eeeeee; font-size: 1.05em; }
    .in_desc_table1 .ft { text-align:left; padding-left: 1.5em; }

    @media (max-width: 479px) {
        .in_desc_table1 { font-size: 0.8em; }
    }
</style>
<table class="in_desc_table1" cellpadding="0" cellspacing="0" border="1">
    <tbody>
        <tr>
            <th width="40%"></th>
            <th width="20%">Digitale Kalenderklok</th>
            <th width="20%">Digitale Dementieklok</th>
            <th width="20%">Digitale Analoge Dementieklok</th>
        </tr>
        <tr> <td class="ft">Beeldscherm</td> <td>7,9 inch</td> <td>7,9 inch</td> <td>7,9 inch</td> </tr>
        <tr> <td class="ft">Tijdsweergave</td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Datumweergave</td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Dagweergave</td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Meertalig</td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Dagdeelweergave</td> <td><i class="fa fa-times"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Slechtziende-functies</td> <td><i class="fa fa-times"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-times"></i></td> </tr>
        <tr> <td class="ft">Wekkerfunctie</td> <td><i class="fa fa-times"></i></td> <td><i class="fa fa-check"></i></td> <td><i class="fa fa-check"></i></td> </tr>
        <tr> <td class="ft">Analoge &amp; Digitale weergave</td> <td><i class="fa fa-times"></i></td> <td><i class="fa fa-times"></i></td> <td><i class="fa fa-check"></i></td> </tr>

    </tbody>
</table>