.bb_lngpg h1 { font-size:1.7em;  font-weight:600; margin: 2em 0;   color:#153955; line-height: 1.4em; text-align: center; }
.bb_lngpg h2 { font-size:1.7em;  font-weight:600; margin: 2em 0;   color:#153955; line-height: 1.4em; text-align: center; letter-spacing: 0.09em; }
.bb_lngpg h3 { font-size:1.5em;  font-weight:400; margin: 1.8em 0; color:#153955; line-height: 1.3em; text-align: center; }
.bb_lngpg h4 { font-size:1.2em;  font-weight:600; margin: 1.5em 0; color:#153955; line-height: 1.4em; text-align: center; }
.bb_lngpg h5 { font-size:1.05em; font-weight:600; margin: 1em 0;   color:#153955; line-height: 1.5em; text-align: center; letter-spacing: 0.08em; }

.bb_lngpg ul, .bb_lngpg ol, .bb_lngpg li { list-style: none; margin:0; padding:0; }

.bb_lngpg { color:#153955; }
.bb_lngpg  a { color:#153955; }

/* Buttons */
.bb_lngpg  a.button_lp, .bb_lngpg  .button_lp {
    padding: 0.2em 0.8em;
    display: inline-block;
    color:#153955;
    border: 1px solid #153955;
    border-radius:5px;
    text-decoration:none;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.bb_lngpg  a.button_lp:hover, .bb_lngpg  .button_lp:hover { background-color:#9cf3; }
.bb_lngpg  a.button_lp.fill, .bb_lngpg  .button_lp.fill {
    color: #ffffff;
    background-color:#62b3e0;
    cursor: pointer;
}

.bb_lngpg  a.button_lp.white, .bb_lngpg  .button_lp.white {
    color:#ffffff;
    border-color: #ffffff;
}
.bb_lngpg  a.button_lp.white:hover, .bb_lngpg  .button_lp.white:hover { background-color:#fff3; }
.bb_lngpg  a.button_t1, .bb_lngpg  .button_t1 {
    padding: 0.6em 3.2em;
    border-radius:8px;
    font-size: 1.4em;
}
.bb_lngpg  a.button_t3, .bb_lngpg  .button_t3 {
    padding: 0.6em 2.4em;
    border-radius: 10px;
    font-size: 1.2em;
}
.bb_lngpg  a.button_lp.fill.red, .bb_lngpg  .button_lp.fill.red {
    color:#ffffff;
    background-color: #EB6C68;
    border: none;
}


/* Block */
.bb_lngpg  .blocks {
    margin-bottom: 0.5em;
    background-color: #fff;
    line-height: 1.5em;
}
.bb_lngpg  .blocks.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 100%;*/
    overflow: hidden;
    justify-content: space-between;
    margin: 0;
}

.bb_lngpg  .blocks .text {
    text-align: left;
    padding:0.8em 1.6em;
}
.bb_lngpg  .blocks .w25, .bb_lngpg  .blocks .w33, .bb_lngpg  .blocks .w50, .bb_lngpg  .blocks .w66, .bb_lngpg  .blocks .w75,
.bb_lngpg  .blocks .wp25, .bb_lngpg  .blocks .wp33, .bb_lngpg  .blocks .wp50, .bb_lngpg  .blocks .wp66, .bb_lngpg  .blocks .w75,
.bb_lngpg  .blocks .wpp25, .bb_lngpg  .blocks .wpp33, .bb_lngpg  .blocks .wpp50, .bb_lngpg  .blocks .wpp66, .bb_lngpg  .blocks .w75 {
    display:block;
    position: relative;
    text-decoration: none;
}

.bb_lngpg  .blocks .wp25, .bb_lngpg  .blocks .wp33, .bb_lngpg  .blocks .wp50, .bb_lngpg  .blocks .wp66, .bb_lngpg  .blocks .wp75 {
    padding:3% 2%;
}

.bb_lngpg  .blocks .wpp25, .bb_lngpg  .blocks .wpp33, .bb_lngpg  .blocks .wpp50, .bb_lngpg  .blocks .wpp66, .bb_lngpg  .blocks .wpp75 {
    padding:3% 5%;
}

@media screen and (min-width: 768px) {
    .bb_lngpg  .blocks.columns.inverted { flex-direction:row-reverse; }
    .bb_lngpg  .blocks .w25 { width:25%; position:relative; }
    .bb_lngpg  .blocks .wp25 { width:21%; position:relative; }
    .bb_lngpg  .blocks .wpp25 { width:16%; position:relative; }
    .bb_lngpg  .blocks .w33 { width:33.3%; position:relative; }
    .bb_lngpg  .blocks .wp33 { width:29.3%; padding:3% 2%; position:relative; }
    .bb_lngpg  .blocks .wpp33 { width:26.0%; padding:3% 3.5%; position:relative; }
    .bb_lngpg  .blocks .w50 { width:50%; position:relative; }
    .bb_lngpg  .blocks .wp50 { width:49%; padding:3% 2%; position:relative; }
    .bb_lngpg  .blocks .w66 { width:66.6%; position:relative; }
    .bb_lngpg  .blocks .wp66 { width:62.7%; padding:3% 2%; position:relative; }
    .bb_lngpg  .blocks .wpp66 { width:59.7%; padding:3% 3%; position:relative; }
    .bb_lngpg  .blocks .w75 { width:75%; position:relative; }
    .bb_lngpg  .blocks .wp75 { width:71%; position:relative; }
    .bb_lngpg  .blocks .wpp75 { width:66%; position:relative; }
    .bb_lngpg  .hidden-md { display:none !important; }
    .bb_lngpg  .blocks .biglineh { line-height:2.0em; }
}

.bb_lngpg  .blocks, .bb_lngpg  .blocks .padding { padding: 2em 1.4em 3em 1.4em; }
.bb_lngpg  .blocks .bigpadding { padding: 2em 6em 3em 6em; }
.bb_lngpg  .blocks .padding-tb { padding-top:2em; padding-bottom:3em; }
.bb_lngpg  .blocks .padding-lr { padding-left:1.4em; padding-right:1.4em; }

.bb_lngpg  .blocks.nopadding, .bb_lngpg  .blocks .nopadding { padding: 0em; }
.bb_lngpg  .blocks.nopadding-lr, .bb_lngpg  .blocks .nopadding-lr { padding-left:0em; padding-right:0em; }
.bb_lngpg  .blocks.nopadding-tb, .bb_lngpg  .blocks .nopadding-tb { padding-top:0em; padding-bottom:0em; }
.bb_lngpg  .blocks.bigpadding, .bb_lngpg  .blocks .bigpadding { padding: 2em 6em 3em 6em; }


/* USPS */
.bb_lngpg  .usps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.bb_lngpg  .usps p { margin:0; }
.bb_lngpg  .usps .usp { padding:0 1em; }


/* Elements */
.separator_h1 {
    display: none;
    background-color:#62b3e0;
    height:1px;
    margin: 1.6em 0;
}
.separator_h3 {
    display: none;
    background-color:#62b3e0;
    height:3px;
    margin: 1.6em 0;
}
.separator_h5 {
    display: none;
    background-color:#62b3e0;
    height:5px;
    margin: 1.6em 0;
}



/* Utilities */
.bb_lngpg  .small { font-size: 0.85em;  }
.bb_lngpg  .big { font-size: 1.15em; }
.bb_lngpg  .strong { font-weight: 600; }
.bb_lngpg  .italic { font-style: italic; }
.bb_lngpg  .absolute { position: absolute; }
.bb_lngpg  .imgbox {
    display: inline-block;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:middle;
    max-width: 100%;
}
.bb_lngpg  .imgback {
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .bb_lngpg  a.button_t1, .bb_lngpg  .button_t1 {
        padding: 0.6em 2.4em;
        border-radius:8px;
        font-size: 1.1em;
    }
}


.slick-slider {
    position: relative;
    overflow: hidden;
}
.slick-slider .slick-slide {
    float: left;
}
.slick-slider .slick-list {
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 21px;
    height: 51px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 9999;
}
.slick-slider .slick-prev { left: 0px; background-position:left center; }
.slick-slider .slick-next { right: 0px; background-position:right center; }

@media screen and (max-width: 767px) {
    .slick-slider .slick-prev,
    .slick-slider .slick-next {
        width: 16px;
        height: 36px;
    }
    .slick-slider .slick-prev { left: 4px; }
    .slick-slider .slick-next { right: 4px; }
}