/* Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.bb_lngpg {
    margin-top: 2em;
}
.bb_lngpg .slick-arrow {
    background-color: transparent;
}
.bb_lngpg .blocks {
    margin:0;
    padding-bottom: 5em;
}


.bb_lngpg h1 .bblogo {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    background-position: center left;
    position: relative;
    top: 15px;
}

.bb_lngpg .mainphoto {
    height: 33vw;
    max-height: 403px;
    position: relative;
    background-position: center 58%;
}

.bb_lngpg  .mainphoto .quote {
    position: absolute;
    width: 50%;
    bottom: 10%;
    right: 6%;
    text-align: center;
    color:#ffffff;
    font-size: 1.3em;
    line-height: 1.8em;
}
.bb_lngpg  .mainphoto .quote .imgbox {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.bb_lngpg  .mainphoto .quote .qtop {
    position: absolute;
    top: -0.8em;
    left: 0;
}
.bb_lngpg  .mainphoto .quote .qbottom {
    position: absolute;
    bottom: -0.8em;
    right: 0;
}
.bb_lngpg  .mainphoto .quote .qtext {
    display: block;
    width: 75%;
    margin: 0 auto;
}

/* #f9fcfe or rgb(234,242,255) */
/* #e6ecee or rgb(230,236,238) */

.bb_lngpg .usps_t1 { padding:1px 0 0 0; }
.bb_lngpg .usps_t1 .usps { flex-wrap: wrap; padding:2em 0 3em 0; background-color:#f6f9fb;}
.bb_lngpg .usps_t1 .usps .usp { padding:0 0.6em; }
.bb_lngpg .usps_t1 .usp.sep { display:none; }
.bb_lngpg .usps_t1 .t {
    display: block;
    color:#153955;
    font-weight:600;
    font-size: 1.0em;
}

.bb_lngpg  #direct_bestellen {}
.bb_lngpg  #direct_bestellen .buttondirbest {
    text-align: center;
    padding: 4em 0 0em 0;
}
.bb_lngpg  #direct_bestellen ul li {
    margin-bottom: 0.5em;
}
.bb_lngpg  #direct_bestellen .lt h3 {
    text-align: right;
    margin:0;
    line-height: 1.2em;
    font-weight: 600;
}
.bb_lngpg  #direct_bestellen .rt .ct {
    column-count: 2;
    text-align: left;
    column-gap: 5%;
    font-size: 1.1em;
}

.bb_lngpg #allefunction { padding-top:1px; }
.bb_lngpg #allefunction h2 { margin-bottom:1em; }
.bb_lngpg #allefunction .buttonmeerinfo { padding-top: 5em;  padding-bottom: 1em;  text-align: center; }
.bb_lngpg #allefunction .bclck_row {
    display: flex;
    justify-content: space-between;
}
.bb_lngpg #allefunction .bclck {
    display: block;
    width: 48%;
    background-color:#EEEEEE;
    padding: 0;
    margin:1em 0;
}
.bb_lngpg #allefunction .bclck .w66 {
    /*width:64%;*/
}
.bb_lngpg #allefunction .bclck .w33 {
    /*width:35%;*/
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6em 0;
}
.bb_lngpg #allefunction .bclck .imgbox {
    background-size:100%;
}
.bb_lngpg #allefunction .bclck .txt {
    padding-left:6%;
    padding-right:6%;
    padding-top: 1.2em;
    padding-bottom: 2.4em;
}
.bb_lngpg #allefunction .bclck h4 {
    text-align: center;
    margin:1em 0 0.6em 0;
}
.bb_lngpg #allefunction .bclck .italic {
    text-align: center;
    margin: 0 0 1.6em 0;
}

.bb_lngpg #bekijkvideo .godw {
    text-align: center;
    padding-bottom: 64px;
}
.bb_lngpg #bekijkvideo .godw h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1.5em 0;
    color: #153955;
    line-height: 1.1em;
}
.bb_lngpg #bekijkvideo .godw a {
    display: inline-block;
    background-color: #153955;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
}
.bb_lngpg #bekijkvideo .sqvideo {
    /*background-color: #153955;*/
    /*color: #FFFFFF;*/
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.bb_lngpg #bekijkvideo .sqvideo h2 {
    /*color: #FFFFFF;*/
    /*text-align: left;*/
    margin: 1em 0;
}

.bb_lngpg .reviews {
    background-color:#EEEEEE;
    padding-bottom: 3em;
}
.bb_lngpg .reviews .blocks {
    background-color:#EEEEEE;
    padding-top: 60px;
    padding-bottom: 0;
    justify-content: space-around;
    justify-content: space-evenly;/*IE*/
}
.bb_lngpg .reviews h2 {
    text-align: center;
    margin: 2em 0 1.4em 0;
}
.bb_lngpg .reviews .w33 {
    width: 30%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 4.0em 2% 3.2em 2%;
    margin: 1%;
    color: #153955;
    position: relative;
}
.bb_lngpg .reviews .w33 p.stars {
    margin: 1em 0;
    color:#F0D93F;
    font-size:26px;
}
.bb_lngpg .reviews .w33 .revface{
    position: absolute;
    width: 100%;
    top:-62px;
    left: 0;
}
.bb_lngpg .reviews .w33 .greyround {
    margin: 0 auto;
    background-color:#EEEEEE;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    padding: 0 12px;
}


.bb_lngpg #klantervarigen {
    background-color: #FFFFFF;
    padding-top: 0;
}
.bb_lngpg #klantervarigen .blocks {
    background-color: #FFFFFF;
}
.bb_lngpg #klantervarigen .w33 {
    background-color:#EEEEEE;
}
.bb_lngpg #klantervarigen .w33 .greyround {
    background-color:#FFFFFF;
}



.bb_lngpg #ftbanner{
    /*background-color:#EEEEEE;*/
    padding-left: 9%;
    padding-top: 7em;
    padding-bottom: 6em;
}
.bb_lngpg #ftbanner .wp33 {
    width:36%;
}
.bb_lngpg #ftbanner h3 {
    margin-top: 0;
    font-weight: 400;
    text-align: left;
}
.bb_lngpg #ftbanner .imgbox {
    width: 290px;
    height: 240px;
    background-size: 95%;
    margin:0 auto;
    display: block;
}
.bb_lngpg #ftbanner ul,
.bb_lngpg #ftbanner li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.bb_lngpg #ftbanner li {
    margin: 0 0 1em 0;
    display: flex;
}
.bb_lngpg #ftbanner li .fa-check {
    font-size: 22px;
    margin-right: 0.5em;
    color:#34B42A;
    vertical-align: middle;
}
.bb_lngpg #ftbanner li span {

}
.bb_lngpg  #direct_bestellen .rt .ct .more,
.bb_lngpg  #direct_bestellen .rt .ct .less {
    display:none;
    font-size: 1em;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.bb_lngpg #bbrainvideo1 { width:845px; height:475px; }

.bb_lngpg .topInternalLinks {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    background-color: #153955;
}
.bb_lngpg .topInternalLinks a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1.8em 0.8em;
}
.bb_lngpg .topInternalLinks a:hover {
    background-color: #1d4e74;
}


.bb_lngpg .reviews_stripe { padding:1em 0; margin: 2em 0; background-color:transparent; }
.bb_lngpg .reviews_stripe .w33 .imgbox ,
.bb_lngpg .reviews_stripe .w33 .greyround { width: 100px; height: 100px; }
.bb_lngpg .reviews_stripe .w33 .greyround { padding:0; background-color:transparent; }
.bb_lngpg .reviews_stripe .blocks { padding-top:0px; background-color:transparent; }
.bb_lngpg .reviews_stripe .w33 { width: auto; padding: 1em 5% 2em 5%; margin:0; background-color:#f6f9fb; }
.bb_lngpg .reviews_stripe .w33 .italic { margin-bottom: 0.4em; }
.bb_lngpg .reviews_stripe .w33 p.stars { font-size: 20px; margin: 0 0 0.4em 0; }
.bb_lngpg .reviews_stripe .w33 .revface{ position: static; width: auto; float: left; margin-right: 3%; margin-top:8px; }
.bb_lngpg .reviews_stripe .w33 .revtext{ text-align: left; }
.bb_lngpg .reviews_stripe .w33 .revtext h4 { text-align: left; margin-bottom: 0.8em; }
.bb_lngpg .reviews_stripe .w33 .revtext .txt { clear: both; }



@media (max-width: 1199px) and (min-width: 990px) {
    .bb_lngpg  .mainphoto { max-height: 324px; }
    .bb_lngpg  .mainphoto .quote { width:62%; }
}

@media (max-width: 991px) {
    .bb_lngpg  .mainphoto { max-height: 270px; }
    .bb_lngpg  .mainphoto .quote { font-size:1.1em; width:80%; }
    .bb_lngpg  .usps_t1 {  }
    .bb_lngpg .usps_t1 .usps .usp { padding: 0 0.2em; width: 25%; padding-bottom: 1em; }
    .bb_lngpg  .usps_t1 .imgbox { width:72px; height:72px; }
    .bb_lngpg  .usps_t1 .usps { padding-left: 0; padding-right: 0; }
    .bb_lngpg  .usps_t1 .usp .t { line-height:1.2em; font-size:1.1em; }
    .bb_lngpg  .usps_t1 .usp.sep { display: block; width: 100%; }
    .bb_lngpg #bbrainvideo1 { width: 635px; height: 355px; }
    .bb_lngpg #allefunction .bclck .imgbox { background-size:94%; }
    .bb_lngpg #ftbanner{ padding-left:5%; padding-top: 5em; }
}

@media (max-width: 991px) and (min-width: 767px) {
    .bb_lngpg  .mainphoto { max-height: 247px; }
}

@media screen and (max-width: 767px) {
    .bb_lngpg .blocks { padding-bottom: 4em; }
    .bb_lngpg { margin-left:-16px; margin-right:-16px; }
    .bb_lngpg h2 { font-size: 1.3em; }
    .bb_lngpg  .mainphoto { height: 42vw;  background-position: center 48%; }
    .bb_lngpg  .mainphoto .quote { display:none; }
    .bb_lngpg #direct_bestellen .lt h3 { text-align: left; margin-bottom: 2.4em; }
    .bb_lngpg #direct_bestellen .rt .ct { text-align: left; padding: 0; }
    .bb_lngpg .usps_t1 { padding:0; }
    .bb_lngpg .usps_t1 h2 { padding:0 1em; }
    .bb_lngpg .usps_t1 .t { margin-top:0.6em; }
    .bb_lngpg .usps_t1 .imgbox { width:60px; height:60px; }
    .bb_lngpg .usps_t1 .usps { padding-left: 8%; padding-right: 8%; }
    .bb_lngpg .reviews { background-color:transparent; padding-top:0; }
    .bb_lngpg .reviews .w33 .imgbox ,
    .bb_lngpg .reviews .w33 .greyround { width: 96px; height: 96px; }
    .bb_lngpg .reviews .w33 .greyround { padding:0; }
    .bb_lngpg .reviews .blocks { padding-top:42px; background-color:transparent; }
    .bb_lngpg .reviews_stripe .blocks { padding-top:0px; }
    .bb_lngpg .reviews .w33 { width: 99%; padding: 1em 5% 2em 5%; margin: 0.8em 0; background-color: #f6f9fb; }
    .bb_lngpg .reviews .w33 .revface{ position: static; width: auto; float: left; margin-right: 4%; margin-top:8px; }
    .bb_lngpg .reviews .w33 .revtext{ text-align: left; }
    .bb_lngpg .reviews .w33 .revtext h4 { margin: 1.2em 0 0.8em 0; text-align: left; }
    .bb_lngpg .reviews .w33 .revtext .italic { margin-bottom: 0.6em; }
    .bb_lngpg .reviews .w33 .revtext .stars { margin: 0; font-size: 16px; }
    .bb_lngpg .reviews .w33 .revtext .txt { clear: both; margin-top:1.2em; }

    .bb_lngpg #klantervarigen .blocks.slick-slider .slick-list { background-color: #EEEEEE; }
    .bb_lngpg #klantervarigen .blocks.slick-slider { background:none; }
    .bb_lngpg #klantervarigen .w33.slick-slide { padding:1em 3em 2em 4em; }

    .bb_lngpg #ftbanner { padding:1em; }
    .bb_lngpg #ftbanner .wp33 { width: 38%; }
    .bb_lngpg #ftbanner .wp66 { width: 61%; }
    .bb_lngpg #ftbanner .wp66 h3 { margin-top:0; }
    .bb_lngpg #ftbanner .imgbox { width: 200px; height: 200px; }
    .bb_lngpg #bbrainvideo1 { width:92vw; height:51vw; }
    .bb_lngpg #allefunction h5 { margin-bottom: 0; }
}


@media screen and (max-width: 599px) {

    .bb_lngpg .blocks { padding-top:1em; padding-bottom:1em; }
    .bb_lngpg  .mainphoto { background-position: center 45%; }
    .bb_lngpg #waaroombbrain { padding-bottom: 1em; }
    .bb_lngpg #allefunction .buttonmeerinfo { padding-top:1em; }
    .bb_lngpg #allefunction { padding-left:0; padding-right:0; padding-bottom: 0; }
    .bb_lngpg #allefunction .bclck_row { display: block; }
    .bb_lngpg #allefunction .bclck { width: auto; margin: 0 0 3em 0; }
    .bb_lngpg .reviews_stripe { margin-bottom: 0; }
    .bb_lngpg .usps_t1 .usps { padding-left:0; padding-right:0; }
    .bb_lngpg  .usps_t1 .usp { font-size:0.90em; }
    .bb_lngpg .topInternalLinks { display: none; }
    .bb_lngpg #allefunction h2 { padding:0 1em; }
    .bb_lngpg #allefunction h5 { padding:0 1em; margin-bottom: 0; }
    .bb_lngpg #ftbanner .wp33 { width: 99%; }
    .bb_lngpg #ftbanner .wp66 { width: 99%; }
    .bb_lngpg #ftbanner a.button_t3 { text-align:center; width:100%; }
    .bb_lngpg #ftbanner a.button_t3 span { white-space:nowrap; }
}
.bb_lngpg #allefunction .bclck .w66 { width:100%; }
.bb_lngpg #allefunction .bclck .w33 { width:100%; padding-bottom: 0; }

@media screen and (max-width: 499px) {
    .bb_lngpg  #direct_bestellen .rt .ct { column-count: 1; }
    .bb_lngpg  #direct_bestellen .rt .ct .text { padding-top:0; padding-bottom:0; }
    .bb_lngpg  #direct_bestellen .rt .ct .more { display:block; }
    .bb_lngpg  #direct_bestellen .rt .ct .less { display:block; }
}

@media screen and (max-width: 449px) {
    /*.bb_lngpg  { font-size: 0.9em; }*/
    .bb_lngpg a.button_t1, .bb_lngpg .button_t1 { width:99%; font-size:1.05em; letter-spacing: 0.03em; padding:0.5em 0.1em; }
    .bb_lngpg #waaroombbrain .usps .sep { display:none; }
    .bb_lngpg #waaroombbrain .usps .usp { width:49%; }

    .bb_lngpg #allefunction .bclck { margin-bottom:1em; }
    .bb_lngpg #allefunction .bclck .imgbox { background-size:86%; background-position: center 8px; height: 250px; }

}


/* Sliders * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.mainslider.slick-slider {
    max-width: 990px;
    margin:0 auto;
}

.mainslider.slick-slider,
.mainslider .slick-list,
.mainslider .slick-track,
.mainslider .mslidehh {
    height:480px;
    position: relative;
    padding: 1px;
    cursor: pointer;
}
.mainslider .mslidehh.flex1 {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.mainslider .mslidehh .mslidehhoverlay {
    position: relative;
    background-color: #0009;
    width: 100%;
}

.mainslider.slick-slider .slick-slide {
    overflow: hidden;
}
.mainslider.slick-slider .slick-list {
    width:88%;
    max-width: 900px;
    margin:0 auto;
}

.mainslider.slick-slider.onebig {
    width:100% !important;
}
.mainslider.slick-slider.onebig .slick-list {
    width:100% !important;
}
.mainslider.slick-slider.onebig .slick-track {
    width:100% !important;
}

@media screen and (max-width: 991px) {
    .mainslider.slick-slider,
    .mainslider .slick-list,
    .mainslider .slick-track,
    .mainslider .mslidehh {
        height:360px;
    }
}

@media screen and (max-width: 767px) {
    .mainslider.slick-slider,
    .mainslider .slick-list,
    .mainslider .slick-track,
    .mainslider .mslidehh {
        height: 55vw;
    }
    .mainslider.slick-slider .slick-list {
        width:86%;
    }
}


/* Temp Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.mainslider.slick-slider .bekijkvideo,
.mainslider.slick-slider .bekijkvideo h3,
.mainslider.slick-slider .bekijkvideo h5 {
    color:#FFFFFF;
    font-weight:400;
    margin-bottom: 1em;
    /*text-shadow: 0px 1px 3px #333333;*/
    letter-spacing: 0.2em;
}
.mainslider.slick-slider .bekijkvideo { font-size:1.3em; }
.mainslider.slick-slider i.fa { font-size: 2.4em; vertical-align: middle; }
.mainslider.slick-slider .bekijkvideo .bottom {
    position: absolute;
    bottom: 3em;
    display: block;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .mainslider.slick-slider .bekijkvideo { font-size:1em; }
}



/* WatMaaktUniek * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#watmaaktuniek {
    padding-bottom: 0;
}

#watmaaktuniek .w33 {
    width: 40%;
}

#watmaaktuniek .w66 {
    width: 60%;
}

#watmaaktuniek .w66_listct {

}

#watmaaktuniek .sect_ico {
    position: relative;
    padding-bottom: 4em;
    padding-left: 70px;
    margin-left: 60px;
    border-left:2px solid #CCCCCC;
}
#watmaaktuniek .sect_ico:last-child { border-left:none; }

#watmaaktuniek .sect_ico h3 {
    margin: 0 0 0.4em 0;
    text-align: left;
    font-size: 1.3em;
    font-weight: 600;
}

#watmaaktuniek .sect_ico .ico {
    position: absolute;
    top: -4px;
    left: -41px;
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 80px;
}

#watmaaktuniek .sect_ico.si1 .ico { background-position-y:0px; }
#watmaaktuniek .sect_ico.si2 .ico { background-position-y:343px; }
#watmaaktuniek .sect_ico.si3 .ico { background-position-y:224px; }
#watmaaktuniek .sect_ico.si4 .ico { background-position-y:109px; }

@media screen and (max-width: 1199px) {
    #watmaaktuniek .sect_ico h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 991px) {
    #watmaaktuniek .sect_ico {
        padding-left: 60px;
        margin-left: 50px;
    }
    #watmaaktuniek .sect_ico .ico {
        position: absolute;
        top: -4px;
        left: -34px;
        background-size: cover;
        width: 64px;
        height: 64px;
    }
    #watmaaktuniek .sect_ico.si1 .ico { background-position-y:0px; }
    #watmaaktuniek .sect_ico.si2 .ico { background-position-y:274px; }
    #watmaaktuniek .sect_ico.si3 .ico { background-position-y:180px; }
    #watmaaktuniek .sect_ico.si4 .ico { background-position-y:87px; }
}


@media screen and (max-width: 599px) {
    #watmaaktuniek .w33 {
        padding-top: 0;
        padding-bottom: 0;
    }
    #watmaaktuniek .w33 {
        width:100%;
        margin-bottom: 3em;
    }
    #watmaaktuniek .w66 {
        width: 100%;
    }
    #watmaaktuniek .sect_ico {
        padding-left: 38px;
        margin-left: 28px;
        padding-bottom: 2.6em;
    }
    #watmaaktuniek .sect_ico .ico {
        top: -4px;
        left: -28px;
        width: 56px;
        height: 56px;
    }
    #watmaaktuniek .sect_ico.si1 .ico { background-position-y:0px; }
    #watmaaktuniek .sect_ico.si2 .ico { background-position-y:240px; }
    #watmaaktuniek .sect_ico.si3 .ico { background-position-y:157px; }
    #watmaaktuniek .sect_ico.si4 .ico { background-position-y:77px; }
}




/* End - Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

