<a id="fitformspb" href="/fitform-sta-op-stoelen-brochure">
    <div class="textleft">
        <div class="txtct">
            <h3>NU 50% KORTING</h3>
            <div class="sep"></div>
            <p>OP DE AANSCHAF VAN EEN <strong>2DE</strong> FITFORM WELLNESS STOEL</p>
        </div>
    </div>

    <!--div class="go_button_blu" style>
        <div class="inside">
            <strong style="font-size:1em">OF</strong><br/>
            <span>bij aanschaf</span>
            <span>van 1 wellness stoel</span>
            <span>accessoire t.w.v.</span>
            <strong style="margin: 0.4em 0 0.2em 0;">&euro;499,-</strong><br/>
            <span style="font-size:0.95em;font-style:italic;">gratis</span>
        </div>
    </div-->
</a>

<!--a id="fitformspbm" href="/fitform-sta-op-stoelen-brochure">
    <div class="go_button_blu">
        <div class="inside">
            <strong style="font-size:1em">OF</strong>
            <span>bij aanschaf</span>
            <span>van 1 wellness stoel</span>
            <span>accessoire t.w.v.</span>
            <strong>&euro;499,-</strong>
            <span style="font-size:0.95em;font-style:italic;">gratis</span>
        </div>
    </div>
</a-->

<style type="text/css">

    #fitformspb {
        margin: 0 0 16px 0;
        height: 180px;

        background-image: url('{{media url="wysiwyg/Magazine-vrouw-replacement1.jpg"}}');
        background-repeat: no-repeat;
        background-position: 62% 48%;
        background-size: 52%;
        background-color: #EFEFEF;

        display:block;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        color: #FFFFFF;
    }

    #fitformspbm { display:none; }

    #fitformspb .textleft {
        background: #05a;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        width: 30%;
    }

    #fitformspb .textleft:before {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 70px solid #05a;
        border-top: 90px solid transparent;
        border-bottom: 90px solid transparent;
    }

    #fitformspb .txtct {
        text-align: center;
        width: 62%;
        min-width: 155px;
        margin: 0 auto;
        font-size: 13px;
    }

    #fitformspb h3 {
        font-size: 1.75em;
        color: #FFFFFF;
        font-weight: 400;
        margin: 14px 0;
    }

    #fitformspb .sep {
        border-bottom: 3px solid #FFFFFF;
        width: 60%;
        margin: 0 auto;
    }

    #fitformspb p {
        font-size: 1em;
        font-weight: 100;
        margin: 12px 0;
    }


    #fitformspb .go_button_blu,
    #fitformspbm .go_button_blu {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #ffffff;
        font-weight: 100;
        background-color: #05a;
        letter-spacing: 0.03em;
        line-height: 1.0em;
    }


    #fitformspb .go_button_blu {
        position: absolute;
        top: 7%;
        right: 2%;
        height: 155px;
        width: 155px;
        border-radius: 100px;

        transition: all 0.3s ease;
        transform: rotate(20deg);
        -webkit-transform: rotate(20deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(20deg);  /* IE 9  */
    }

    #fitformspb:hover .go_button_blu,
    #fitformspbm:hover .go_button_blu  {
        background-color: #206FC6;
    }

    #fitformspbm  .go_button_blu  .inside  {
        padding: 5px;
    }

    #fitformspb:hover .go_button_blu {
        transition: all 0.3s ease;
        transform: scale(1.10) rotate(0deg);
        -webkit-transform: scale(1.10) rotate(0deg);
        -ms-transform: scale(1.10) rotate(0deg);
    }

    #fitformspb  .go_button_blu  .inside,
    #fitformspbm  .go_button_blu  .inside  {
        padding: 12px 0px 0 0px;
        font-size:  0.9em;
        line-height: 1.5em;
        text-align: center;
    }

    #fitformspb  .go_button_blu  .inside  {
        border: 2px solid #FFFFFF;
        height: 145px;
        width: 145px;
        border-radius: 100px;
        margin: 5px;
    }

    #fitformspbm  .go_button_blu  .inside  {
        padding: 6px 12px 8px 12px;
        font-size: 0.85em;
    }

    #fitformspb .go_button_blu  .inside strong,
    #fitformspbm .go_button_blu  .inside strong  {
        font-weight: 600;
        font-size: 1.3em;
        display: inline-block;
    }

    #fitformspb  .go_button_blu  .inside span,
    #fitformspbm  .go_button_blu  .inside span {
        display:inline-block;
    }


    @media screen and (max-width: 1199px){
        #fitformspb .txtct {
            width: 80%;
        }
    }

    @media screen and (max-width: 991px){
        #fitformspb .txtct {
            width: 70%;
        }
    }

    @media screen and (max-width: 599px){
        #fitformspb {
            background-position: -220% 50%;
            background-size: 107% auto;
            margin-bottom:0;
        }
        #fitformspb .textleft {
            width: 48%;
        }
        #fitformspb .textleft:before {
            border-left-width: 40px;
        }
        #fitformspb .txtct {
            min-width: 116px;
            font-size: 11px;
        }
        #fitformspb .go_button_blu { display:none; }

        #fitformspbm {
            display:block;
        }
    }


</style>
