<style type="text/css">
    #tena4blocks {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding-bottom: 2em;
        font-size: 12px;
        text-align: center;
    }
    #tena4blocks a {
        text-decoration: none;
        color:#409bd6;
    }
    #tena4blocks .blck {
        width: 23%;
        display: block;
        border-color: #d3f0fc;
        border-width: 1px 1px 3px 1px;
        border-radius: 8px;
        overflow: hidden;
        border-style: solid;
        background-color: #f4faff;
        padding-bottom: 0.6em;
    }

    #tena4blocks .blck .text {
        font-weight: 600;
    }

    #tena4blocks .blck .img {
        background-image: url('{{media url="wysiwyg/tena-voordeelpakketten-sprite.png"}}');
        background-repeat: no-repeat;
        background-size: 70% auto;
        height: 110px;
        margin: 0.8em 0 0.4em 0;
    }
    #tena4blocks .blck1 .img {
        background-position: center 100%;
    }
    #tena4blocks .blck2 .img {
        background-position: center 66.5%;
    }
    #tena4blocks .blck3 .img {
        background-position: center 33%;
    }
    #tena4blocks .blck4 .img {
        background-position: center 0%;
    }
</style>

<div id="tena4blocks">
    <a class="blck blck1" href="/tena-voordeelpakketten?categorie=tena-men">
        <div class="img"></div>
        <div class="text">Bekijk alle TENA Men &raquo;</div>
    </a>
    <a class="blck blck2" href="/tena-voordeelpakketten?categorie=tena-lady">
        <div class="img"></div>
        <div class="text">Bekijk alle TENA Lady &raquo;</div>
    </a>
    <a class="blck blck3" href="/tena-voordeelpakketten?categorie=tena-bed">
        <div class="img"></div>
        <div class="text">Bekijk alle TENA Bed &raquo;</div>
    </a>
    <a class="blck blck4" href="/tena-voordeelpakketten?categorie=tena-pants">
        <div class="img"></div>
        <div class="text">Bekijk alle TENA Pants &raquo;</div>
    </a>
</div>