<style type="text/css"><!--
.tena_usps_section {
    padding:0 8px;
    font-size:12px;
    color: #005fae;
    font-weight:600;
    margin-bottom:48px;
}
.tena_usps_row img { width: 16px; height: 13px; margin: 0px; }
.tena_usps_row { float:left; width:33%; text-align:center; }
@media (max-width:479px) {
    .hide_on_mobile { display:none; }
    .tena_usps_row { width:99%; }
}

#category_wrap_banner {
    margin-bottom: 12px;
    background-color: #EAE8E9;
}

#category_top_banner {
    padding:0px 0px 0px 12px;
    /*margin:0 0 16px 0;*/
    display: flex;
    align-items: center;
    height: 150px;
    min-height: 100px;
    overflow:hidden;
    position: relative;
    text-decoration:none;
    color:#222;
}

#category_top_banner .imgct {
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#category_top_banner .imgct.imgct1 {
    background-image:url('https://imgur.com/3JV20HT.png');
    background-position:left 10%;
    width: 8%;
    position: absolute;
    top:0; left:0;
}
#category_top_banner .imgct.imgct2 {
    background-image:url('https://imgur.com/mGwpANM.png');
    width: 45%;
    margin-left: 5%;
    margin-top: 2%;
}

#category_top_banner .txtct {
    margin:0;
    font-size: 28px;
    width: 50%;
    padding:0 0 0 5%;
    max-height: 82%;
    overflow: hidden;
}

#category_top_banner .txtct h2 {
    margin:0;
    font-size: 1em;
    color:#222;
    line-height: 1.1em;
}
#category_top_banner .txtct h2 .big {
    color:#05a;
}
#category_top_banner .txtct h2 small {
    color:#333;
    margin-top: 10px;
    font-size: 0.6em;
    display: block;
    line-height: 1.3em;
}
#category_top_banner .go_button {
    display: inline-block;
    margin: 16px 0 0 0;
    text-align: center;
    line-height: 1.0em;
    padding: 6px 10px;
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    background-color: #e27c7c;
    border-radius: 5px;
    letter-spacing: 0.03em;
    width: max-content;
}
#category_top_banner:hover .go_button {
    background-color:#db5e5e;
}
#category_top_banner .go_button span.sm { display:none; }


@media (max-width: 1199px) {
    #category_top_banner { height: 140px; }
    #category_top_banner .imgct { }
    #category_top_banner .imgct.imgct1 { width:9%; }
    #category_top_banner .imgct.imgct2 { width:50%; }
    #category_top_banner .txtct { width:50%; padding:0; }
}
@media (max-width: 767px) {
    #category_wrap_banner { margin-right:-15px; margin-left:-15px; }
    #category_top_banner { padding:0px 8px; height:19vw; }
    #category_top_banner .imgct { }
    #category_top_banner .imgct.imgct1 { }
    #category_top_banner .imgct.imgct2 { }
    #category_top_banner .txtct { font-size:20px; }
    #category_top_banner .txtct h2 small { font-size: 0.7em; }
}
@media (max-width: 479px) {
    #category_top_banner { }
    #category_top_banner .imgct { }
    #category_top_banner .imgct.imgct1 {
        position: static;
        width: 30%;
        max-width:140px;
        background-position: center;
        background-size: 95%;
    }
    #category_top_banner .imgct.imgct2 { display:none; }
    #category_top_banner .txtct { width:70%; padding-left:3%; font-size:18px; }
    #category_top_banner .go_button { padding:4px 8px; font-size:11px; }
    #category_top_banner .go_button span.sm { display:inline; }
    #category_top_banner .go_button span.lg { display:none; }
}

/* * * * * * * * * * EDIT this * * * * * * * * * */
/* image min resolution: 410x175 (keep the aspect ratio)

https://imgur.com/3JV20HT.png
https://imgur.com/mGwpANM.png
https://imgur.com/6LdBhQt.png
https://imgur.com/8dkANOy.png

*/
--></style>

<div id="category_wrap_banner">
    <div id="category_top_banner" href="#">
        <div class="imgct imgct1"></div>
        <div class="imgct imgct2"></div>
        <div class="txtct">
            <h2>
                <span class="big">TENA Assortiment</span>
                <small>Bekijk hier het volledige aanbod</small>
            </h2>
            <!--<div class="go_button">-->
            <!--<span class="lg">Gratis brochure aanvragen</span>-->
            <!--<span class="sm">Gratis brochure</span>-->
            <!--<em class="fa fa-caret-right"></em>-->
            <!--</div>-->
        </div>
        <!--<div style="clear: both;"></div>-->
    </div>
</div>

<div class="tena_usps_section">
    <span class="tena_usps_row"><img src="http://mgproperties.co.bw/wp-content/uploads/2014/01/mgcheck.png">&nbsp;Gratis bezorging vanaf €20,-</span>
    <span class="tena_usps_row hide_on_mobile"><img src="http://mgproperties.co.bw/wp-content/uploads/2014/01/mgcheck.png">&nbsp;100% Discreet verzonden</span>
    <span class="tena_usps_row hide_on_mobile"><img src="http://mgproperties.co.bw/wp-content/uploads/2014/01/mgcheck.png">&nbsp;Deskundig advies</span>
    <div style="clear:both;"></div>
</div>
