<!--- Producten5 -->
[loop name='Producten5' min='0' max='99']

<table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
    <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
        <td class="blocks bigphtxt space_start4" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#FFFFFF;text-align:center;height:24px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'></td>
    </tr>
    <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
        <td class="blocks producten1 ph" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#FFFFFF;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
            <h3 class="blue" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:20px;font-weight:600;margin:36px 0;color:#62b3e0;font-weight:normal;letter-spacing:4px;text-align:center;">[text name='Titel' editor='poor']</h3>
            <table cellspacing="0" cellpadding="0" class="rspcell33_ct" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 1" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 1' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 1' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 2" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 2' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 2' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 3" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 3' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 3' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
        <td class="blocks producten1 ph" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#FFFFFF;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
            <h3 class="blue" style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:20px;font-weight:600;margin:36px 0;color:#62b3e0;font-weight:normal;letter-spacing:4px;text-align:center;">[text name='Titel' editor='poor']</h3>
            <table cellspacing="0" cellpadding="0" class="rspcell33_ct" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 1" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 1' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 1' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 2" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 2' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 2' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="rspcell33p " width="180" valign="top" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;width:177px;padding:8px 16px 8px 16px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                        <table cellspacing="0" cellpadding="0" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;">
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt img" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;text-align:center;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>[image name="afbeelding 3" width="140"]</td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td class="pdt" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-bottom:16px;text-align:left;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <h5 style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:14px;font-weight:600;margin:16px 0;margin-bottom:8px;">[text name='Titel 3' editor='poor']</h5>
                                    <p class="italic" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;margin:5px 0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-style:italic;'>Binnen & buiten</p>
                                </td>
                            </tr>
                            <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                <td style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'>
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="98%" class="center-on-narrow" style="width:100%;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;table-layout:auto;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;border-spacing:0 !important;table-layout:fixed !important;margin:0 auto !important;margin:0 auto !important;  width: 98%;">
                                        <tbody style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                        <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
                                            <td class="button-td" width="98%" valign="center" align="center" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;transition:all 100ms ease-in;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;width: 98%;border-radius: 5px;display:block !important;background: none;border:1px solid #62B3E0;padding: 5px 0px 5px 0px;'>
                                                <a style='color:#62B3E0;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center; text-decoration:none; -webkit-text-size-adjust:none; color: #62B3E0;display: inline; vertical-align: middle;font-size: 12px !important; border-radius: 5px;' target="_blank" href="#"><span style='-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;text-decoration:none !important;color: #62B3E0 !important; text-decoration:none !important; font-size: 12px !important; ;' class="button-link">[text name='Button 3' editor='poor']</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
        <td class="blocks bigphtxt space_end2" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#FFFFFF;text-align:center;height:48px;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'></td>
    </tr>
    <tr style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;">
        <td class="blocks bigphtxt space_end6 space_empty" style='color:#444444;font-family:"Open Sans", Arial, Helvetica;font-size:13px;line-height:18px;letter-spacing:0.6px;padding:0;margin:0;border:none;border-collapse:collapse;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#FFFFFF;text-align:center;height:8px;background-color:transparent;mso-table-lspace:0pt !important;mso-table-rspace:0pt !important;'></td>
    </tr>
</table>

[/loop]
<!--- /Producten5 -->