.main_container {
    background-color:#EEEEEE;
}

img { vertical-align:middle;  }
.body {
    margin:0;
    padding:0;
    color:#555555;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:13px;
    line-height:18px;
    letter-spacing:0.6px;
}

table { width: 100%; }
/*table, tr, td, tbody, thead, th, tfoot {*/
table, td {
    padding: 0;
    margin: 0;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
}

a { color:#62B3E0; }
p { margin:5px 0; }
strong { font-weight:600; }
h1 { font-size:28px;  font-weight:600; margin: 56px 0; }
h2 { font-size:24px;  font-weight:600; margin: 48px 0; }
h3 { font-size:20px;  font-weight:600; margin: 36px 0; }
h4 { font-size:16px; font-weight:600; margin: 24px 0; }
h5 { font-size:14px; font-weight:600; margin: 16px 0; }
.small { font-size: 12px;  }
.big { font-size: 15px; }
.strong { font-weight: 600; }
.italic { font-style: italic; }

/* Separator */
.separator_h1 {
    background-color:#62b3e0;
    height:1px;
    margin: 1.6em 0;
}
.separator_h2 {
    background-color:#62b3e0;
    height:3px;
    margin: 1.6em 0;
}

/* Header Bar */
.header_bar {
    background-color:#0055AA;
    color:#FFFFFF;
    font-size:11px;
}
.header_bar.left,
.header_bar.right {
    width: 50%;
    padding: 10px 20px;
}
.header_bar a { color:#FFFFFF; }
.header_bar.left { text-align: left; }
.header_bar.right { text-align: right; }


/* Header */
.header {
    letter-spacing: 0.3px;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
    padding: 16px 8px;
}

/* USPS */
.header.logo { width:40%; }
.header.usp { width:20%; }
.header.usp p { margin:0; text-align: center; }

/* Menu1 */
.menu1 {
    background-color:#0055aa;
    color:#FFFFFF;
    font-size: 11px;
    text-align: center;
    padding: 8px 0;
    letter-spacing: 1px;
}
.menu1 a { color:#FFFFFF; text-decoration:none; }
.menu1.red { background-color:#ED6A65; }

/* Buttons */
.button_t1 {
    padding: 12px 32px;
    color: #62B3E0;
    border: 1px solid #6CB9E3;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1.5px;
}
.button_t3 {
    padding: 6px 12px;
    color: #62B3E0;
    border: 1px solid #6CB9E3;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 12px;
}
.button_t1.white, .button_t3.white {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

/* Blocks */
.blocks { background-color: #FFFFFF; }
.blocks.space_start1, .blocks.space_end1 { height:64px; }
.blocks.space_start2, .blocks.space_end2 { height:48px; }
.blocks.space_start3, .blocks.space_end3 { height:36px; }
.blocks.space_start4, .blocks.space_end4 { height:24px; }
.blocks.space_start5, .blocks.space_end5 { height:16px; }
.blocks.space_start6, .blocks.space_end6 { height:8px; }
.blocks.space_empty { background-color:transparent; }
.blocks h3.blue { color:#62b3e0; font-weight:normal; letter-spacing:4px; text-align:center; }

/* Big Photo Text section */
.bigphtxt { text-align: center; }
.bigphtxt.txt { padding:24px 64px; }
.bigphtxt.txt p { line-height:28px; }
.bigphtxt.btn_bigimg { font-size:12px; }
.bigphtxt.btn { padding-top:16px; }

/* OnzeTopCat */
/*.onzetopcat .otc.img { line-height:0; font-size:0;}*/
.onzetopcat .otc.btn { text-align:center; padding-top:4px; font-weight:600; }


/* Usps2 */
.usps2 {
    padding:24px 8px;
    color: #0055AA;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
}
.usps2 span, .usps2 img { vertical-align: middle; }

/* Usps3 */
.usps3 {
    padding: 16px;
    font-size:11px;
    line-height: 16px;
    color: #777777;
    text-align: center;
}


/* Uitgelicht */
.uitgelicht .ugch.txt { padding:8px 16px 0 16px; line-height: 22px; }
.uitgelicht .ugch.txt p { font-size:12px; margin-bottom:16px; }
.uitgelicht .ugch.img { font-size:0; line-height:0; }

/* Producten1 */
.producten1 { padding:0 0 0 16px; }
.producten1 .pdt { padding:16px 8px 0 8px;  text-align:left; }
.producten1 .pdt .txt { margin:16px 0; line-height:20px; }
.producten1 .pdt.img, .producten1 .pdt .img { text-align: center; }
.producten1 .pdt h5 { margin-bottom:8px; }
.producten1 .pdt .stars { margin:16px 0 24px 0; }

/* Producten2 */
.producten2 { }
.producten2 .pdt { padding:16px 20px;  text-align:left; }
.producten2 .pdt .txt { margin:12px 0; line-height:17px; font-size:11px; }
.producten2 .pdt.img, .producten2 .pdt .img { text-align: center; }
.producten2 .pdt h5 { margin-bottom:0; font-size:13px; }
.producten2 .pdt .btn { text-align:center; font-size: 11px; margin:20px 0 0 0;}

/* Uitlegv */
.uitlegv .ugch.img {}
.uitlegv .ugch.txt { padding:16px 16px 0 24px; }
.uitlegv .ugch.txt p { line-height:22px; }
.uitlegv .ugch.txt .separator_h2 { width:50%; }

/* Tekstafb */
.tekstafb .ugch.img {}
.tekstafb .ugch.txt { padding:16px 24px 0 16px; }
.tekstafb .ugch.txt .small { margin-bottom:24px; }
.tekstafb .ugch.txt p { line-height:22px; }
.tekstafb .ugch.txt .separator_h1 { width:50%; }

/* Contacts */
.contacts {
    padding:42px 32px 0 32px;
    background-color: #0055AA;

}
.contacts td, .contacts a { color: #FFFFFF; text-decoration:none; }
.contacts .ico { text-align:center; }
.contacts .txt { padding-left:16px; }
.contacts .ccts1 td { padding-top:32px; }
.contacts .ccts1 td, .contacts .ccts2 td  { padding-bottom:12px; }
.contacts .scls td { padding-top:24px; padding-left:6px; }
.contacts .scls a { margin:0 16px 0 0; }

.footer { padding:32px 0 48px 0; }
.footer td { text-align: center;  }


@media screen and (max-width: 699px) {
    .desk { display:none; }
}
@media screen and (min-width: 700px) {
    .mobi { display:none; }
}





