/* Common Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.body {
    margin:0;
    padding:0;
    color:#555555;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:13px;
    line-height:18px;
    letter-spacing:0.6px;
    background-color:#eeeeee;
}

table { width: 100%; }
table, tr, td, tbody, thead, th, tfoot {
    padding: 0;
    margin: 0;
    border:none;
}

h1 { font-size:2.0em;  font-weight:600; margin: 3em 0; }
h2 { font-size:1.7em;  font-weight:600; margin: 2em 0; }
h3 { font-size:1.5em;  font-weight:600; margin: 1.8em 0; }
h4 { font-size:1.2em; font-weight:600; margin: 1.5em 0; }
h5 { font-size:1.05em; font-weight:600; margin: 1em 0; }

a { color:#62b3e0; text-decoration:underline; }
a:hover { text-decoration:underline; }
p { margin:5px 0; }
strong { font-weight:600; }


/* Header Bar */
.header_bar {
    background-color:#05a;
    color:#fff;
    font-size:11px;
}
.header_bar .left,
.header_bar .right {
    width: 50%;
    padding: 10px 20px;
}
.header_bar a { color:#fff; }
.header_bar .left { text-align: left; }
.header_bar .right { text-align: right; }


/* End - Common Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

