.wrapper {
    width:100%;
    max-width: 640px;
}
@media screen and (max-width: 709px) {

    body {
        font-size: 13px;
    }

    .main_table {
        margin: 0 auto;
        width: 320px;
    }

    .wrapper {
        width: 320px;
        padding-top: 2em;
    }

    .header_bar .wrapper,
    .header, .usps, .menu  {
        text-align: center;
        display: block;
    }

    a.button, .button, .blocks .button_t3 { font-size:0.9em; }

    .blocks { padding: 1.6em 1.2em 0em 1.2em; line-height:1.5em; }
    .blocks.columns { display: block; }
    .blocks .w25, .blocks .w33, .blocks .w50, .blocks .w66,
    .blocks .wp25, .blocks .wp33, .blocks .wp50, .blocks .wp66,
    .blocks .wpp25, .blocks .wpp33, .blocks .wpp50, .blocks .wpp66 {
        padding-bottom: 10%;
    }
    .blocks.bigpadding, .blocks .bigpadding {
        padding: 2em 3em 3em 3em;
    }
    .blocks .biglineh { line-height:1.8em; }

    .header_bar .wrapper {  }
    .header { margin-bottom: 1.2em; }
    .header .logo { margin-bottom: 1em; }

    .menu.menu1 {
        display: flex;
        font-size: 0.7em;
    }
    .menu.menu1 a { padding:0.8em 0.8em;  }

    .mainphoto { height: 180px; }
    .mainphoto .button { top:70%; }

    .producten2 .button { margin-top:1em; margin-bottom:1em; }
    .producten2 .wp33 { background-color:transparent; border-top:1px solid #e6e6e6; }

    .blocks .separator_h1, .blocks .separator_h2 {
        background:none;
        margin:0;
        padding: 0;
    }

    .blocks.tekstafb .imgback.w33 { height:100px; }
    .blocks.flex_column_center .imgbox { margin:0 auto -0.8em auto; padding:3em 0 0 0; }

    #contacts { padding-left:1.6em; padding-right:0; font-size:0.95em; }
    #contacts > .w33.imgbox { display: none; }
    #footer { padding-bottom: 3em; }

    .usps.usps_t1 {
        padding:0;
        display: flex;
        font-size: 0.7em;
        flex-wrap: nowrap;
    }
    .usps.usps_t1 .usp p, .usps.usps_t3 .usp p { display: inline-block; }
    .usps.usps_t1 .usp .imgbox, .usps.usps_t3 .usp .imgbox { width:40px; margin-right:0.4em; }
    .usps.usps_t3 { padding: 1.6em 1.6em; text-align:left; }
    .usps.usps_t2 .usp { padding:0.4em 0; }
    /*.usps.usps_t2 .usp:nth-child(n+2) { display: none;}*/

    .small { font-size:0.95em; }
    .big { font-size:1.05em; }
    .absolute { position: static; }
    .hidden-xs { display:none !important; }
    .blocks h3.blue { font-size: 1.4em; letter-spacing: 0.15em; }
}