.header_bar table {
    width:300px !important;
}
.header_bar .left, .header_bar .right {
    text-align: center !important;
    width:100% !important;
}

.header {
    padding:8px 0 !important;
}
.header.logo {
    width:100% !important;
}
.header.usps {
    width:100% !important;
}

.menu1 {
    display: block !important;
}

.bigphtxt.txt {
    padding: 24px 16px !important;
}
.bigphtxt.txt p {
    line-height: 24px !important;
}
.button_t4 {
    padding: 6px 12px !important;
    color: #62B3E0 !important;
    border: 1px solid #6CB9E3 !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    letter-spacing: 0.6px !important;
    font-size: 12px !important;
}
.producten2 .pdt .btn { }

.usps2 {
    display: block !important;
    padding:8px 0 !important;
}

.usps3 {
    display: block !important;
    padding: 4px 0 !important;
    text-align: left !important;
}
.usps3 p { display:inline-block !important; margin-left:8px !important; }

.tekstafb .ugch.txt { padding-top:32px !important; }
.tekstafb .ugch.img img { }

.contacts .rspcell33p { display:none !important; }
.contacts .tt { margin-left:0px !important; }

.producten1 .rspcell33p { padding-top:16px !important; padding-bottom:16px !important; border-bottom:1px solid #DDDDDD; }
.producten2 .rspcell33p { background-color:transparent !important; border-bottom:1px solid #DDDDDD !important; }
.producten2 .rspcell33p.grey1 { border-bottom:none !important; padding-bottom:0 !important; }
.producten1 .rspcell50p { padding-top:16px !important; padding-bottom:16px !important; border-bottom:1px solid #DDDDDD !important; }

.uitgelicht .mbo-td { display:block !important; }
.uitgelicht .dko-td { display:none !important; }




