.main_container {
    background-color:#EEEEEE;
}

img { vertical-align:middle;  }
.body {
    margin:0;
    padding:0;
}
p, td, span {
    color:#444444;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:13px;
    line-height:18px;
    letter-spacing:0.6px;
}
a {
    color:#62B3E0;
    font-family: "Open Sans", Arial, Helvetica;
    font-size:13px;
    line-height:18px;
    letter-spacing:0.6px;
}

table { width: 100%; }
/*table, tr, td, tbody, thead, th, tfoot {*/
table, td {
    padding: 0;
    margin: 0;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
}

p { margin:5px 0; }
strong { font-weight:600; }
h1 { font-size:28px;  font-weight:600; margin: 56px 0; }
h2 { font-size:24px;  font-weight:600; margin: 48px 0; }
h3 { font-size:20px;  font-weight:600; margin: 36px 0; }
h4 { font-size:16px; font-weight:600; margin: 24px 0; }
h5 { font-size:14px; font-weight:600; margin: 16px 0; }
.small { font-size: 12px;  }
.big { font-size: 15px; }
.strong { font-weight: 600; }
.italic { font-style: italic; }


html,
body {
    margin: 0 auto !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

body, table, td, p, a, li, blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

table,
td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important
}

table {
    border-spacing: 0 !important;
    table-layout: fixed !important;
    margin: 0 auto !important
}

table table table {
    table-layout: auto
}

img {
    -ms-interpolation-mode: bicubic
}

*[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important
}

.x-gmail-data-detectors,
.x-gmail-data-detectors *,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important
}

.a6S {
    display: none !important;
    opacity: 0.01 !important
}

img.g-img+div {
    display: none !important
}

.button-link {
    text-decoration: none !important
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
    .email-container {
        min-width: 375px !important
    }
}

.button-td,
.button-a {
    transition: all 100ms ease-in
}

.vMobile {
    display: none !important;
}

td.img-responsive img,
td.img-responsive a img {
    border:none !important;
    display:block !important;
    height: auto !important;
    max-width:100% !important;
    outline:none !important;
    width:100% !important;
}


/* Separator */
.separator_h1 {
    border-bottom:1px solid #62b3e0;
    margin: 1.6em 0;
}
.separator_h2 {
    border-bottom:3px solid #62b3e0;
    margin: 1.6em 0;
}

/* Header Bar */
.header_bar {
    background-color:#0055AA;
    padding: 10px 20px;
}
.header_bar .left,
.header_bar .right {
    color:#FFFFFF;
    font-size:11px;
    width: 50%;
}
.header_bar a { color:#FFFFFF; font-size:11px; }
.header_bar .left { text-align: left; }
.header_bar .right { text-align: right; }


/* Header */
.header {
    letter-spacing: 0.3px;
    font-size: 11px;
    line-height: 16px;
    color: #666666;
    padding: 16px 0;
}

/* USPS */
.header.logo { width:40%; text-align: center; }
.header.usps { width:59%; }
.header .usp p { margin:0; text-align: center; padding:0 8px; font-size:11px; }

/* Menu1 */
.menu1 {
    background-color:#0055aa;
    color:#FFFFFF;
    font-size: 11px;
    text-align: center;
    padding: 8px 0;
    letter-spacing: 1px;
}
.menu1 a { font-size:11px; color:#FFFFFF; text-decoration:none; }
.menu1.red { background-color:#ED6A65; }

/* Buttons */
.button_t1 {
    padding: 12px 32px;
    color: #62B3E0;
    border: 1px solid #6CB9E3;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: 1.2px;
    display: block;
}
.button_t3 {
    padding: 6px 12px;
    color: #62B3E0;
    border: 1px solid #6CB9E3;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 12px;
    display: block;
}
.button_t1.white, .button_t3.white {
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.button_t1.fill, .button_t3.fill {
    background-color: #62B3E0;
    color: #FFFFFF;
}
.button_t1.max, .button_t3.max {
    border-radius: 0;
}

/* Blocks */
.blocks { background-color: #FFFFFF; }
.blocks.space_start1, .blocks.space_end1 { height:64px; }
.blocks.space_start2, .blocks.space_end2 { height:48px; }
.blocks.space_start3, .blocks.space_end3 { height:36px; }
.blocks.space_start4, .blocks.space_end4 { height:24px; }
.blocks.space_start5, .blocks.space_end5 { height:16px; }
.blocks.space_start6, .blocks.space_end6 { height:8px; }
.blocks.space_empty { background-color:transparent; }
.blocks h3.blue { color:#62b3e0; font-weight:normal; letter-spacing:4px; text-align:center; }

/* Big Photo Text section */
.bigphtxt { text-align: center; }
.bigphtxt .section1 .btn_element { font-size:15px; }
.bigphtxt.ph img { width:100%; height:auto; }
.bigphtxt.txt { padding:24px 64px; }
.bigphtxt.txt p { line-height:28px; }
.bigphtxt.btn_bigimg { font-size:12px; }
.bigphtxt.btn { padding-top:16px; }

/* OnzeTopCat */
/*.onzetopcat .img img { width:100%; height:auto; }*/
.onzetopcat .btn { padding-top:8px; padding-bottom:32px; }
.onzetopcat .img { text-align:center; }
/*.onzetopcat .img img { width:100%; height:auto; }*/


/* Usps2 */
.usps2 {
    vertical-align: middle;
}
.usps2 span, .usps2 img {
    vertical-align: middle;
    color: #0055AA;
    font-size: 11px;
    font-weight: 600;
}

/* Usps3 */
.usps3 {
    padding: 0 16px;
    font-size:11px;
    line-height: 16px;
    color: #777777;
    text-align: center;
}
.usps3 p {
    font-size:11px;
    line-height: 16px;
}


/* Uitgelicht */
.uitgelicht .ugch.txt { line-height: 22px; padding-bottom:64px;}
.uitgelicht .ugch.txt .btn_element { font-size:12px; text-align:left !important; padding:0 16px; }
.uitgelicht .ugch.txt p { font-size:12px; margin-bottom:16px; }
.uitgelicht .ugch.img { font-size:0; line-height:0; padding-bottom:16px; }
.uitgelicht .mbo-td { display:none; }

/* Producten1 */
.producten1 { }
.producten1 .btn_element { font-size:12px; }
.producten1 .pdt { padding-bottom:16px; text-align:left; }
.producten1 .pdt .txt { padding-top:16px; line-height:20px; }
.producten1 .pdt.img, .producten1 .pdt .img { text-align: center; }
.producten1 .pdt h5 { margin-bottom:8px; }
.producten1 .plus { padding:0 0 8px 0; vertical-align:top; }
.producten1 .plus img { vertical-align:bottom;  }
.producten1 .plus span { vertical-align:top;  }
.producten1 .stars { padding:16px 0 32px 0; }

/* Producten2 */
.producten2 { }
.producten2 .btn_element { font-size:12px; }
.producten2 .pdt { padding-bottom:32px;  text-align:left; }
.producten2 .pdt .txt { margin:12px 0; line-height:17px; font-size:11px; }
.producten2 .pdt.img, .producten2 .pdt .img { text-align: center; }
.producten2 .pdt h5 { margin-bottom:0; font-size:13px; }
.producten2 .pdt .btn { text-align:center; font-size: 11px; margin:20px 0 0 0;}
.producten2 .grey1 { background-color:#DDDDDD; }
.producten2 .grey2 { background-color:#EEEEEE; }

/* Uitlegv */
.uitlegv .ugch.img img { width:100%; }
.uitlegv .ugch.txt { padding:16px; }
.uitlegv .ugch.txt p { line-height:22px; }
.uitlegv .ugch.txt .separator_h2 { width:50%; }

/* Tekstafb */
.tekstafb .btn_element { text-align:left !important; font-size:12px !important; padding:0 16px  !important; }
.tekstafb .ugch.img { text-align:center; }
.tekstafb .ugch.txt { }
.tekstafb .ugch.txt .small { margin-bottom:24px; }
.tekstafb .ugch.txt p { line-height:22px; }
.tekstafb .ugch.txt .separator_h1 { width:50%; }

/* Contacts */
.contacts { background-color: #0055AA; }
.contacts td, .contacts a, .contacts span, .contacts p { color: #FFFFFF; text-decoration:none; }
.contacts .tt { margin-left:20px;}
.contacts .imgct img { margin-right:20px; }
.contacts .ico { text-align:center; }
.contacts .txt { padding-left:16px; }
.contacts .ccts1 td { padding-top:32px; }
.contacts .ccts1 td, .contacts .ccts2 td  { padding-bottom:12px; }
.contacts .scls td { padding:24px 0 8px 6px; }
.contacts .rspcell33p { padding-bottom:0 !important; }

.footer { padding:32px 0 48px 0; }
.footer td { text-align: center;  }
.footer .pmth img { width:85%;  }




