<div class="hidden-xs container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>
            <div id="homepage_banners" class="row">

                <div class="col-xs-12 col-sm-8 slider-area">
                    <div class="big-banner hero sm-xs-margin-bottom">
                        <a href="/" title="BBrain slimme kalenderklok" target="_self" style="background-image:url('{{media url="wysiwyg/homepage.png"}}')"></a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner">
                        <a class="hback" href="/tena" title="Tena Hulpmiddelwereld" target="_self" style="background-image:url('{{media url="wysiwyg/Tena.png"}}')">
                            <p class="text_bottom go_text">Bekijk de promotie <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                    <div class="small-banner">
                        <a class="hback" href="/attends" title="Attends Hulpmiddelwereld" style="background-image:url('{{media url="wysiwyg/Attends.png"}}')">
                            <p class="text_bottom go_text">Bekijk de promotie <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                    <div class="small-banner">
                        <a class="hback" href="/nutridrink" title="Nutridrink Hulpmiddelwereld" style="background-image:url('{{media url="wysiwyg/Nutridrink.png"}}')">
                            <p class="text_bottom go_text">Bekijk de promotie <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                </div>
            </div>
            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>
<style type="text/css">
    #homepage_banners .small-banners .small-banner a.hback {
        background-size: auto 94%;
        background-position: center center;
        background-color: rgb(73,73,73);
    }


    #homepage_banners  .big-banner a {
        background-repeat: no-repeat;
        background-position: 62% center;
        background-size: cover;
    }
    #homepage_slider .hp_slide a {
        position:relative;
    }
    #homepage_banners .big-banner a .go_button_blu,
    #homepage_slider .hp_slide a .go_button_blu {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 5%;
        left: 6%;
        height: 190px;
        width: 190px;
        font-size: 14px;
        color: #ffffff;
        font-weight: 100;
        background-color: #05a;
        letter-spacing: 0.03em;
        line-height: 1.0em;
        border-radius: 100px;
        transition: all 0.3s ease;
        transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(-20deg);  /* IE 9  */
    }
    #homepage_banners .big-banner a:hover .go_button_blu {
        background-color: #206FC6;
        transition: all 0.3s ease;
        transform: scale(1.15) rotate(0deg);
        -webkit-transform: scale(1.15) rotate(0deg);
        -ms-transform: scale(1.15) rotate(0deg);
    }
    #homepage_banners .big-banner a .go_button_blu  .inside,
    #homepage_slider .hp_slide a .go_button_blu  .inside  {
        border: 2px solid #FFFFFF;
        height: 176px;
        width: 176px;
        border-radius: 100px;
        margin: 7px;
        padding: 15px 0px 0 0px;
        font-size: 1.2em;
        line-height: 1.45em;
        text-align: center;
    }
    #homepage_banners .big-banner a .go_button_blu .inside strong,
    #homepage_slider .hp_slide a .go_button_blu  .inside strong  {
        font-weight: 600;
        font-size: 1.4em;
        display: inline-block;
        margin-bottom: 0.4em;
    }
    #homepage_banners .big-banner a .go_button_blu .inside span,
    #homepage_slider .hp_slide a .go_button_blu  .inside span {
        display:inline-block;
    }
    #homepage_banners .big-banner a p.text_top {
        font-family: unset;
        top: 8%;
        font-weight: 600;
        text-align: left;
        padding-left: 32px;
        font-size: 24px;
        line-height: 1.1em;
        text-shadow: 1px 0px 1px #999;
    }
    #homepage_banners .big-banner a p.text_top small {
        display: block;
        font-size: 0.75em;
        font-weight: normal;
        margin-top: 1%;
    }
    #homepage_slider .hp_slide a .go_button_blu { height: 160px; width: 160px; }
    #homepage_slider .hp_slide a .go_button_blu .inside {
        font-size: 0.90em;
        height: 145px;
        width: 145px;
        border-radius: 100px;
        padding: 18px 0px 0 0px;
    }
    @media screen and (max-width: 1199px){
        #homepage_banners .big-banner a .go_button_blu {
            height: 170px;
            width: 170px;
            font-size: 12px;
        }
        #homepage_banners .big-banner a .go_button_blu .inside{
            height: 156px;
            width: 156px;
        }
    }
</style>
<!-- MOBILE and TABLET -->
<div class="visible-xs">
    <section id="category_smart_menu">
        <a href="/tena" class="urineverlies"><em></em><span>Urineverlies</span></a>
        <a href="/nutridrink" class="nutridrink"><em></em><span>Nutridrink</span></a>
        <a href="/bbrain" class="dementieklok"><em></em><span>Dementieklok</span></a>
        <a href="/vrije-tijd-hobby/seniorentelefoons" class="seniorentel"><em></em><span>Seniorentelefoon</span></a>
    </section>
    <section id="homepage_slider">
        <div class="hp_slide">
            <a href="/" class="fitformslide" style="background-color:#ffffff; background-image:url('{{media url="wysiwyg/homepage.png"}}');"></a>
        </div>
        <div class="hp_slide">
            <a href="/bbrain-slimme-kalenderklok" style="background-color:#ffffff; background-image:url('https://i.imgur.com/PLhxi7j.png');">
                <div class="txt_ct">
                    <h4>BBrain Slimme Kalenderklok</h4>
                    <p>Het perfecte geheugensteuntje!</p>
                    <div class="button">Meer informatie</div>
                </div>
            </a>
        </div>
    </section>
    <section id="homepage_smart_menu">
        <a href="/fitform-sta-op-stoelen-brochure" class="staop_stoelen">
            <em></em>
            <div class="ct">
                <h4>Sta-op stoelen</h4>
                <p>Onze sta-op stoelen zijn aangepast op uw wensen en behoeften</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/toilet/toiletstoelen" class="postoel">
            <em></em>
            <div class="ct">
                <h4>Postoelen</h4>
                <p>Onze postoelen zijn eenvoudig, betrouwbaar &amp; comfortabel</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/mobiliteit/rollators" class="rollators">
            <em></em>
            <div class="ct">
                <h4>Rollators</h4>
                <p>Wees de eigen regisseur over uw vrijheid. Wij hebben een breed assortiment aan keuze</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
    </section>
</div>
<style type="text/css">
    @media screen and (max-width: 767px){
        .cms-index-index #homepage_slider a .txt_ct {
            background-color: #fffb;
            width: 100%;
            padding: 7% 3% 5% 3%;
        }
        .cms-index-index #homepage_slider a .button { display:inline-block; }
        .cms-index-index #homepage_slider a {
            background-position: 70% 70%;
            background-size: 110% auto;
            padding: 3% 3% 3% 38%;
        }
        .cms-index-index #homepage_slider .hp_slide .fitformslide {
            background-position: 50% 46%;
            background-size: 115%;
        }
    }
    @media screen and (max-width: 379px){
        .cms-index-index #homepage_slider { font-size:11px; }
        .cms-index-index #homepage_slider .hp_slide .fitformslide {
            background-position: 50% -34vw;
            background-size: 115%;
        }
    }
</style>
<script type="text/javascript">// <![CDATA[
// doc: http://www.landmarkmlp.com/js-plugin/owl.carousel/#customizing
jQuery(function ($) {
    if($(window).width()<768 && $("#homepage_slider").children().size()>1){
        var sliderDiv$ = jQuery("#homepage_slider");
        sliderDiv$.css({
            'max-height': '220px'
        });
        sliderDiv$.slick(
            {
                dots: true,
                arrows: false,
                centerMode: true,
                centerPadding: '0px', //change to show slides on the sides
                variableWidth: false,
                slidesToShow: 1
            }
        );
    }
});
// ]]></script>