
<style type="text/css">
    .big-banner a {
        height:532px;
        display: block;
        text-decoration: none;
        position: relative;
        background: no-repeat center;
        background-size:cover;
    }
    .big-banner a p.text_top,
    .big-banner a p.text_bottom,
    .big-banner a p.text_round,
    .big-banner a p.go_button {
        position:absolute;
        margin: 0;
        padding: 0 16px;
        width:100%;
        left: 0;
        color: #08c;
        text-align:center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.0em;
    }
    .big-banner a p .red { color:#e27c7c; }
    .big-banner a p.text_top {
        top: 4%;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        font-size: 46px;
    }
    .big-banner a p.text_bottom {
        bottom:12%;
        font-size:18px;
    }
    .big-banner a p.go_button {
        padding: 9px 8px 0 8px;
        bottom:1%;
        right:2%;
        height: 40px;
        width:30%;
        left: unset;
        font-size: 20px;
        color: #ffffff;
        font-weight: normal;
        background-color: #e27c7c;
        border-radius: 5px;
        letter-spacing: 0.03em;
    }
    .big-banner a:hover p.go_button {
        background-color:#db5e5e;
    }
    .big-banner a p.text_round {
        font-family: "Times New Roman", Times, serif;
        top: 29%;
        right: 4%;
        height: 160px;
        width: 160px;
        left: unset;
        font-size: 26px;
        color: #fff;
        font-weight: normal;
        background-color: #e27c7c;
        border-radius: 50%;
        letter-spacing: 0.03em;
        padding: 46px 12px 0 12px;
    }
    @media (max-width:1199px){
        .big-banner a p.text_round {
            height: 140px;
            width: 140px;
        }
    }

    .small-banners .small-banner {
        padding: 0;
        margin-bottom: 24px;
        background:linear-gradient(to right,#ffffff,#cbeeee);
    }
    .small-banners .small-banner a {
        height:160px;
        display: block;
        text-decoration: none;
        position: relative;
        background: no-repeat center;
        background-size:contain;
    }
    .small-banners .small-banner p.text_top,
    .small-banners .small-banner p.text_bottom {
        position:absolute;
        margin: 0;
        padding: 0;
        width:100%;
        left: 0;
        color: #08c;
        text-align:center;
        font-size: 14px;
        font-weight: 600;
    }
    .small-banners .small-banner p.text_top { top:3%; }
    .small-banners .small-banner p.text_bottom { bottom:3%; }
    .small-banners .small-banner p .red { color:#e27c7c; }
    .small-banners .small-banner a .go_arrow {
        position:absolute;
        bottom: 3%;
        right: 2%;
        color:#ffffff;
        background-color:#e27c7c;
        width: 20px;
        height: 19px;
        padding-top: 3px;
        border-radius: 4px;
        font-size: 14px;
    }
    .small-banners .small-banner a:hover .go_arrow {
        background-color:#db5e5e;
    }

    @media (max-width:1199px){
        .small-banners .small-banner { margin-bottom:16px; }
        .small-banners .small-banner a { height:140px; }
        .small-banners .small-banner p.text_top,
        .small-banners .small-banner p.text_bottom { font-size: 12px; }

        .big-banner a { height: 455px; }
        .big-banner a p.text_top { font-size:38px; }
        .big-banner a p.go_button { padding:8px 6px 0 6px; height:36px; font-size: 18px; }
        .big-banner a p.text_round { font-size:24px; padding:30px 10px 0 10px; }
    }

    @media (max-width:767px){
        .big-banner a { height: 70vw; }
        .big-banner a p.text_top { font-size:6vw; }
        .big-banner a p.text_round {
            height: 25vw;
            width: 25vw;
            font-size: 4vw;
            padding: 6vw 2vw 0 2vw;
        }
        .big-banner a p.go_button {
            padding: 1.3% 1% 0 1%;
            bottom: 1%;
            right: 1%;
            height: 7.5%;
            font-size: 2.5vw;
        }
        .big-banner a p.text_bottom { font-size: 2.5vw; }
    }

    /* ready classes for customisation 'on-the-fly' */
    .small-banners .small-banner a.hback { background-size:auto 52%; }
    .small-banners .small-banner a.vback { background-size:auto 62%; }
    .small-banners .small-banner a.lback { background-position: 8% center; }
    .small-banners .small-banner a.rback { background-position: 92% center; }
    .big-banner a.hback { background-size:auto 100%; }
    .big-banner a.vback { background-size:auto 100%; }
    .big-banner a.lback { background-position: left center; }
    .big-banner a.rback { background-position: right center; }
</style>


<div class="container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-8 slider-area">
                    <div class="big-banner hero sm-xs-margin-bottom">
                        <a href="/mobiliteit/sta-op-stoel" title="Sta-op Stoelen" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/Sta-op_Stoel_kopen_1.jpg')">
                            <p class="text_top">Ontdek onze relaxstoelen met <span class="red">sta-op functie</span></p>
                            <p class="text_round">25 jaar ervaring in huis</p>
                            <p class="text_bottom">consectetur <span class="red">adipiscing</span> elit</p>
                            <p class="go_button">Bekijk nu <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner">
                        <a class="hback" href="/tena" title="Tena Hulpmiddelwereld" target="_self" style="background-image:url('https://imageshack.com/a/img924/5995/R0L0EO.png')">
                            <p class="text_top">Lorem <span class="red">ipsum</span> dolor sit amet</p>
                            <p class="text_bottom">consectetur <span class="red">adipiscing</span> elit</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="vback" href="/slechtzienden/kalenderklokken" title="Seniorenklokken"  style="background-image:url('https://imageshack.com/a/img924/3645/tQpMJX.png')">
                            <p class="text_top">Lorem <span class="red">ipsum</span> dolor sit amet</p>
                            <p class="text_bottom">consectetur <span class="red">adipiscing</span> elit</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/slaapkamer/seniorenbedden" title="Seniorenbedden" style="background-image:url('https://imageshack.com/a/img923/416/8yP4pF.png')">
                            <p class="text_top">Lorem <span class="red">ipsum</span> dolor sit amet</p>
                            <p class="text_bottom">consectetur <span class="red">adipiscing</span> elit</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>

<style type="text/css">
    /* Classes: apply on <a> inside small-banner or big-banner
       - hback: set horizontal background
       - vback: set vertical background
       - lback: set background on the left
       - rback: set background on the right
    */

    /* EDIT HERE */
    .big-banner a p.go_button {
        width:30%;
    }

    .big-banner a p.text_round {
        top: 29%;
        right: 4%;
    }

</style>


