<style type="text/css">
    .big-banner a {
        height:532px;
        display: block;
        text-decoration: none;
        position: relative;
        background: no-repeat center;
        background-size:cover;
    }
    .big-banner a p.text_top,
    .big-banner a p.text_bottom,
    .big-banner a p.text_round,
    .big-banner a p.go_button {
        position:absolute;
        margin: 0;
        padding: 0 16px;
        width:100%;
        left: 0;
        color: #05a;
        text-align:center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.0em;
    }
    .big-banner a p .red { color:#db5e5e; }
    .big-banner a p.text_top {
        top: 4%;
        font-family: "Times New Roman", Times, serif;
        font-weight: normal;
        text-align: left;
        padding-left: 32px;
        font-size: 40px;
        line-height: 1.1em;
    }
    .big-banner a p.text_bottom {
        bottom:12%;
        font-size:18px;
    }
    .big-banner a p.go_button {
        padding: 9px 8px 0 8px;
        bottom:1.5%;
        left:60%;
        height: 36px;
        width:38%;
        font-size: 16px;
        color: #ffffff;
        font-weight: normal;
        background-color: #db5e5e;
        border-radius: 5px;
        letter-spacing: 0.03em;
    }
    .big-banner a:hover p.go_button {
        background-color:#e27c7c;
    }
    .big-banner a p.text_round {
        top: 29%;
        left: 60%;
        height: 152px;
        width: 152px;
        font-size: 21px;
        color: #fff;
        font-weight: normal;
        background-color: #05a;
        border-radius: 50%;
        letter-spacing: 0.03em;
        padding: 28px 12px 0 12px;
        line-height: 1.3em;
    }
    @media (max-width:1199px){
        .big-banner a p.text_round {
            height: 140px;
            width: 140px;
        }
    }

    .small-banners .small-banner {
        padding: 0;
        margin-bottom: 24px;
    }
    .small-banners .small-banner a {
        height:160px;
        display: block;
        text-decoration: none;
        position: relative;
        background: no-repeat center 36%;
        background-size:contain;
    }
    .small-banners .small-banner p.text_top,
    .small-banners .small-banner p.text_bottom {
        position:absolute;
        margin: 0;
        padding: 0;
        width:100%;
        left: 0;
        color: #05a;
        text-align:center;
        font-size: 14px;
        font-weight: 600;
    }
    .small-banners .small-banner p.text_top { top:3%; }
    .small-banners .small-banner p.text_bottom { bottom:3%; }
    .small-banners .small-banner p .red { color:#db5e5e; }
    .small-banners .small-banner a .go_arrow {
        position:absolute;
        bottom: 3%;
        right: 2%;
        color:#ffffff;
        background-color:#db5e5e;
        width: 20px;
        height: 19px;
        padding-top: 3px;
        border-radius: 4px;
        font-size: 14px;
    }
    .small-banners .small-banner a:hover .go_arrow {
        background-color:#e27c7c;
    }

    @media (max-width:1199px){
        .small-banners .small-banner { margin-bottom:16px; }
        .small-banners .small-banner a { height:140px; }
        .small-banners .small-banner p.text_top,
        .small-banners .small-banner p.text_bottom { font-size: 12px; }

        .big-banner a { height: 455px; }
        .big-banner a p.text_top { font-size:34px; }
        .big-banner a p.go_button { padding:8px 6px 0 6px; height:32px; font-size: 14px; }
        .big-banner a p.text_round { font-size:19px; padding:28px 10px 0 10px; }
    }

    @media (max-width:767px){
        .big-banner a { height: 70vw; background-position: -50px 140%; }
        .big-banner a p.text_top { font-size:5.2vw; }
        .big-banner a p.text_round {
            height: 23vw;
            width: 23vw;
            font-size: 3.1vw;
            padding: 4.5vw 2vw 0 2vw;
        }
        .big-banner a p.go_button {
            padding: 1.3% 1% 0 1%;
            bottom: 1%;
            right: 1%;
            height: 7.5%;
            font-size: 2.5vw;
        }
        .big-banner a p.text_bottom { font-size: 2.5vw; }
    }

    /* ready classes for customisation 'on-the-fly' */
    .small-banners .small-banner a.hback { background-size:auto 52%; }
    .small-banners .small-banner a.vback { background-size:auto 62%; }
    .small-banners .small-banner a.lback { background-position: 8% center; }
    .small-banners .small-banner a.rback { background-position: 92% center; }
    .big-banner a.hback { background-size:auto 100%; }
    .big-banner a.vback { background-size:auto 100%; }
    .big-banner a.lback { background-position: left center; }
    .big-banner a.rback { background-position: right center; }
</style>

<div class="container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-8 slider-area">
                    <div class="big-banner hero sm-xs-margin-bottom">
                        <a href="/gratis-rollator-brochure" title="Sta-op Stoelen" target="_self" style="background-image:url('{{media url="wysiwyg/HMW/voorpagina-blokjes/Square_Brochure_Mockup_1.png"}}')">
                        <p class="text_top">Vraag nu <span class="red">gratis</span> onze <br />nieuwe rollator brochure aan</p>
                        <p class="text_round" style="display:none;">Incl.<br/>speciale<br/><span style="font-weight:600;">aanbieding</span></p><!--em class="fa fa-percent" style="font-size: 0.8em; display: inline-block;position: relative;top: -2px;"></em-->

                        <p class="go_button">Brochure aanvragen <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner">
                        <a class="hback" href="/fitform" title="Tena Hulpmiddelwereld" target="_self" style="background-image:url('{{media url="wysiwyg/HMW/voorpagina-blokjes/stoelen-fitform3.jpg"}}')">

                        <p class="text_bottom">Fitform Sta-op stoelen</span></p>
                        <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/slechtzienden/kalenderklokken" title="Seniorenklokken"  style="background-size: auto 73%; background-image:url('{{media url="wysiwyg/HMW/voorpagina-blokjes/thumbnail_Klok-wit-middag-1.jpg"}}')">

                        <p class="text_bottom">Seniorenklokken</span></p>
                        <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/tena" title="TENA" style="background-image:url('{{media url="wysiwyg/HMW/voorpagina-blokjes/Tena2.jpg"}}')">

                        <p class="text_bottom">Bekijk alles van TENA</p>
                        <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>
                </div>

            </div>
            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>

<style type="text/css">
    /* Classes: apply on <a> inside small-banner or big-banner
       - hback: set horizontal background
       - vback: set vertical background
       - lback: set background on the left
       - rback: set background on the right
    */

    /* EDIT HERE */
    .small-banners .small-banner {
        background-color: rgba(0,150,250,0.07);
    }

    .big-banner {
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #eeeeee 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%,#eeeeee 100%);
        background: linear-gradient(to right, #ffffff 0%,#eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
    }

    .big-banner a p.text_top { top: 8%; }

    .big-banner a {
        background-position: 48% -19%;
        background-size: 174%;
    }

    .big-banner a p.go_button {
    }

    .big-banner a p.text_round {
        /*font-family: "Times New Roman", Times, serif;*/
        top: 32%;
        left: 68%;
    }

</style>

