<div class="container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 slider-area">
                    <div class="hero sm-xs-margin-bottom">
                        <div class="image" style="margin-top: 0;"><a href="/mobiliteit/sta-op-stoel" title="Sta-op Stoelen" target="_self"><img alt="Sta op Stoel" src="https://www.hulpmiddelwereld.nl/media/wysiwyg/Sta-op_Stoel_kopen_1.jpg" /></a></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner"><a href="/tena" title="Tena Hulpmiddelwereld" target="_self"><img alt="Tena Hulpmiddelwereld" src="https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/Attends-3.png" title="Tena Hulpmiddelwereld" /></a></div>
                    <div class="small-banner"><a href="/slechtzienden/kalenderklokken" title="Seniorenklokken "><img alt="Kalenderklokken en Seniorenklokken" src="https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/banners/blokjes-homepage/Dementieklok.png" title="Kalenderklokken en Seniorenklokken" /></a></div>
                    <div class="small-banner"><a href="/slaapkamer/seniorenbedden" title="Seniorenbedden"><img alt="Seniorenbedden" src="https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/Bezorging-feestdagen.jpg" title="Seniorenbedden" /></a></div>
                </div>
            </div>
            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
                <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>
<style type="text/css">

</style>