<div class="hidden-xs container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>

            <div id="homepage_banners" class="row">

                <div class="col-xs-12 col-sm-8 slider-area">
                    <div style="display:none;" class="big-banner hero sm-xs-margin-bottom">
                        <a href="/bbrain-slimme-kalenderklok" title="BBrain slimme kalenderklok" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/Klok-woonkamer-rob1a.jpg')">
                            <p class="text_top">BBrain Slimme Kalenderklok <small>Het perfecte geheugensteuntje!</small> </p>
                            <p class="go_button go_button_blu">Bekijk aanbod</p>
                        </a>
                    </div>

                    <div class="big-banner hero sm-xs-margin-bottom">
                        <a href="/vrije-tijd-hobby/seniorentelefoons" title="BBrain slimme kalenderklok" target="_self" style="background-image:url('http://hmw22.test/media/wysiwyg/Desktop-banner-leeg_v2.jpg')">
                            <p class="text_top tt1">
                                <span style="display: block;">PRE-BLACK</span>
                                <span style="display: block;font-size: 2em;line-height: 1.2em;">FRIDAY</span>
                                <span style="display: block;">SALE</span>
                            </p>

                            <p class="text_top tt4" style="">ALLEEN VANDAAG </p>

                            <p class="text_top tt1 tt2">15% <span style=" color: #db5e5e; ">KORTING</span>
                                <small style="font-size: 0.80em;">Seniorentelefoons</small>
                                <small style="font-size: 0.95em;">alleen vandaag</small>
                            </p>

                            <p class="go_button go_button_blu">Bekijk aanbod</p>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner">
                        <a class="hback" href="/fitform" title="Tena Hulpmiddelwereld" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/stoelen-fitform3.jpg')">
                            <p class="text_bottom">Fitform Sta-op stoelen</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/slechtzienden/kalenderklokken" title="Seniorenklokken" style="background-size: auto 73%; background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/thumbnail_Klok-wit-middag-1.jpg')">
                            <p class="text_bottom">Seniorenklokken</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/tena" title="TENA" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/Tena2.jpg')">
                            <p class="text_bottom go_text">Bekijk alles van TENA <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                </div>

            </div>

            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>

<style type="text/css">
    #homepage_banners  .big-banner a {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        font-size: 14px;
        line-height:1em;
    }

    #homepage_banners .big-banner a p.go_button_blu {
        position: absolute;
        margin: 0;
        margin-right: 0.5em;
        padding: 9px 8px 0 8px;
        bottom: 7%;
        left: 4%;
        height: 32px;
        width: 35%;
        min-width: 160px;
        max-width: 50%;
        font-size: 1em;
        color: #ffffff;
        font-weight: 100;
        background-color: #db5e5e;
        border-radius: 5px;
        letter-spacing: 0.03em;
    }

    #homepage_banners .big-banner a p.text_top {
        font-family: unset;
        top: 8%;
        font-weight: 600;
        text-align: left;
        padding-left: 32px;
        font-size: 24px;
        line-height: 1.1em;
        text-shadow: 1px 0px 1px #999;
    }

    #homepage_banners .big-banner a p.text_top.tt1{
        top: 14%;
        width: 43%;
        padding: 0 0 0 2%;
        text-align: center;
        color: #ffffff;
        text-shadow: 1px 0px 1px #000000;
        font-size: 1.9em;
    }

    #homepage_banners .big-banner a p.text_top.tt2{
        top: 52%;
    }

    #homepage_banners .big-banner a p.text_top.tt4{
        top: 78%;
        width: 40%;
        left: 52%;
        padding: 0;
        color: #db5e5e;
        text-align: center;
        line-height: 1.3em;
        font-size: 2.1em;
    }

    #homepage_banners .big-banner a p.text_top small {
        display: block;
        font-size: 0.75em;
        font-weight: normal;
        margin-top: 1%;
    }

    /*#homepage_banners .big-banner a:hover p.go_button {
        background-color: #05a;
    }*/

    @media screen and (max-width: 1199px){
        #homepage_banners  .big-banner a {
            font-size: 13px;
        }
    }
</style>



<!-- MOBILE and TABLET -->
<div class="visible-xs">
    <section id="category_smart_menu">
        <a href="/tena" class="urineverlies"><em></em><span>Urineverlies</span></a>
        <a href="/nutridrink" class="nutridrink"><em></em><span>Nutridrink</span></a>
        <a href="/bbrain" class="dementieklok"><em></em><span>Dementieklok</span></a>
        <a href="/vrije-tijd-hobby/seniorentelefoons" class="seniorentel"><em></em><span>Seniorentelefoon</span></a>
    </section>


    <section id="homepage_slider">
        <div class="hp_slide">
            <a href="/vrije-tijd-hobby/seniorentelefoons" class="blkfriday" style="background-color:#ffffff; background-image:url('{{media url="wysiwyg/Mobiel-banner-leeg_v6.jpg"}}');">
            <div class="txt_ct">
                <div class="tt1 tt3">
                    <div>PRE-BLACK</div>
                    <div class="big">FRIDAY</div>
                    <div>SALE</div>
                </div>

                <div class="tt1 tt2">
                    <div>15% <span style=" color: #db5e5e; ">KORTING</span></div>
                    <div class="small">Seniorentelefoons</div>
                    <div>alleen vandaag</div>
                    <div class="button">Bekijk aanbod</div>
                </div>

            </div>
            <p class="text_top tt4" style="">ALLEEN VANDAAG </p>
            </a>
        </div>
    </section>


    <section id="homepage_smart_menu">
        <a href="/fitform-sta-op-stoelen-brochure" class="staop_stoelen">
            <em></em>
            <div class="ct">
                <h4>Sta-op stoelen</h4>
                <p>Onze sta-op stoelen zijn aangepast op uw wensen en behoeften</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/toilet/toiletstoelen" class="postoel">
            <em></em>
            <div class="ct">
                <h4>Postoelen</h4>
                <p>Onze postoelen zijn eenvoudig, betrouwbaar &amp; comfortabel</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/mobiliteit/rollators" class="rollators">
            <em></em>
            <div class="ct">
                <h4>Rollators</h4>
                <p>Wees de eigen regisseur over uw vrijheid. Wij hebben een breed assortiment aan keuze</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
    </section>
</div>

<style type="text/css">
    @media screen and (max-width: 767px){

        .cms-index-index #homepage_slider a .txt_ct {
            background-color: #fffb;
            width: 100%;
            padding: 7% 3% 5% 3%;
        }

        .cms-index-index #homepage_slider a .button { display:inline-block; }

        .cms-index-index #homepage_slider a {
            position: relative;
            background-position: 70% 70%;
            background-size: 110% auto;
            padding: 3% 3% 3% 38%;
        }

        .cms-index-index #homepage_slider a.blkfriday{
            background-position: center right;
            background-size: cover;
            padding: 0 29% 0 0;
        }

        .cms-index-index #homepage_slider a.blkfriday .go_button{
            font-weight:600;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct{
            background: none;
            text-align: center;
            padding: 0;
            display: flex;
            color: #ffffff;
            font-size: 15px;
            justify-content: space-evenly;
            font-weight: 400;
            align-items: center;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct .tt1{
            font-size: 1.3em;
            line-height: 1.4em;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct .tt2 .small {
            font-size: 0.85em;
        }

        .cms-index-index #homepage_slider a.blkfriday .tt4 {
            position: absolute;
            top: 74%;
            right: 2%;
            width: 24%;
            color: #db5e5e;
            font-weight: 600;
            font-size: 1.2em;
            line-height: 1.2em;
            margin: 0;
        }

        .cms-index-index #homepage_slider a.blkfriday .button{
            padding: 0.3em 1.6em;
            font-size: 0.7em;
            margin-top: 0.8em;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct .tt3 .big {
            font-size: 2em;
            line-height: 1.2em;
        }
    }

    @media screen and (max-width: 535px){
        .cms-index-index #homepage_slider a.blkfriday{
            padding: 0 148px 0 0;
        }
        .cms-index-index #homepage_slider a.blkfriday .tt4 {
            width: 125px;
            font-size: 1.1em;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct{
            display: block;
            font-size: 10px;
            padding: 1.2em;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct .tt1{
            line-height: 1.1em;
        }

        .cms-index-index #homepage_slider a.blkfriday .txt_ct .tt2{
            margin-top: 0.5em;
        }

        .cms-index-index #homepage_slider a.blkfriday .button {
            font-size: 0.9em;
        }
    }

    @media screen and (max-width: 449px){
        .cms-index-index #homepage_slider { font-size:11px; }
    }

</style>

<script type="text/javascript">// <![CDATA[
// doc: http://www.landmarkmlp.com/js-plugin/owl.carousel/#customizing

jQuery(function ($) {
    if($(window).width()<768 && $("#homepage_slider").children().size()>1){
        var sliderDiv$ = jQuery("#homepage_slider");
        sliderDiv$.css({
            'max-height': '200px'
        });

        sliderDiv$.slick(
            {
                dots: true,
                arrows: false,
                centerMode: true,
                centerPadding: '0px', //change to show slides on the sides
                variableWidth: false,
                slidesToShow: 1
            }
        );
    }

});
// ]]></script>
