<div class="hidden-xs container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-9 md-f-right">
            <div class="slider-usp usp-list">
                <ul>
                    <li><em class="fa fa-rocket"></em> Snelle levering</li>
                    <li><em class="fa fa-check-circle"></em> Persoonlijk advies</li>
                    <li><em class="fa fa-truck"></em> Gratis verzending vanaf 50,-</li>
                    <li><em class="fa fa-calendar-check-o"></em> 30 dagen bedenktijd</li>
                </ul>
            </div>

            <div id="homepage_banners" class="row">

                <div class="col-xs-12 col-sm-8 slider-area">
                    <div class="big-banner hero sm-xs-margin-bottom">
                        <a href="/bbrain-slimme-kalenderklok" title="BBrain slimme kalenderklok" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/Klok-woonkamer-rob1a.jpg')">
                            <p class="text_top">BBrain Slimme Kalenderklok <small>Het perfecte geheugensteuntje!</small> </p>
                            <p class="go_button go_button_blu"><em class="fa fa-arrow-right"></em> Meer informatie</p>
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 small-banners">
                    <div class="small-banner">
                        <a class="hback" href="/fitform" title="Tena Hulpmiddelwereld" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/stoelen-fitform3.jpg')">
                            <p class="text_bottom">Fitform Sta-op stoelen</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/slechtzienden/kalenderklokken" title="Seniorenklokken" style="background-size: auto 73%; background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/thumbnail_Klok-wit-middag-1.jpg')">
                            <p class="text_bottom">Seniorenklokken</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/tena" title="TENA" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/Tena2.jpg')">
                            <p class="text_bottom go_text">Bekijk alles van TENA <em class="fa fa-caret-right"></em></p>
                        </a>
                    </div>
                </div>

            </div>

            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>

<style type="text/css">
    #homepage_banners  .big-banner a {
        background-repeat: no-repeat;
        background-position: 22% center;
        background-size: cover;
    }

    #homepage_banners .big-banner a p.go_button_blu {
        position: absolute;
        margin: 0;
        margin-right: 0.5em;
        padding: 9px 8px 0 8px;
        bottom: 1.5%;
        left: 2%;
        height: 32px;
        width: 35%;
        min-width: 160px;
        max-width: 50%;
        font-size: 14px;
        color: #ffffff;
        font-weight: 100;
        background-color: #05a;
        border-radius: 5px;
        letter-spacing: 0.03em;
        line-height: 1.0em;
    }

    #homepage_banners .big-banner a p.text_top {
        font-family: unset;
        top: 8%;
        font-weight: 600;
        text-align: left;
        padding-left: 32px;
        font-size: 24px;
        line-height: 1.1em;
        text-shadow: 1px 0px 1px #999;
    }

    #homepage_banners .big-banner a p.text_top small {
        display: block;
        font-size: 0.75em;
        font-weight: normal;
        margin-top: 1%;
    }

    #homepage_banners .big-banner a:hover p.go_button {
        background-color: #05a;
    }
</style>



<!-- MOBILE and TABLET -->
<div class="visible-xs">
    <section id="category_smart_menu">
        <a href="/tena" class="urineverlies"><em></em><span>Urineverlies</span></a>
        <a href="/nutridrink" class="nutridrink"><em></em><span>Nutridrink</span></a>
        <a href="/bbrain" class="dementieklok"><em></em><span>Dementieklok</span></a>
        <a href="/vrije-tijd-hobby/seniorentelefoons" class="seniorentel"><em></em><span>Seniorentelefoon</span></a>
    </section>


    <section id="homepage_slider">
        <div class="hp_slide">
            <a href="/bbrain-slimme-kalenderklok" style="background-color:#ffffff; background-image:url('https://i.imgur.com/PLhxi7j.png');">
                <div class="txt_ct">
                    <h4>BBrain Slimme Kalenderklok</h4>
                    <p>Het perfecte geheugensteuntje!</p>
                    <div class="button">Meer informatie</div>
                </div>
            </a>
        </div>
    </section>


    <section id="homepage_smart_menu">
        <a href="/fitform-sta-op-stoelen-brochure" class="staop_stoelen">
            <em></em>
            <div class="ct">
                <h4>Sta-op stoelen</h4>
                <p>Onze sta-op stoelen zijn aangepast op uw wensen en behoeften</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/toilet/toiletstoelen" class="postoel">
            <em></em>
            <div class="ct">
                <h4>Postoelen</h4>
                <p>Onze postoelen zijn eenvoudig, betrouwbaar &amp; comfortabel</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
        <a href="/mobiliteit/rollators" class="rollators">
            <em></em>
            <div class="ct">
                <h4>Rollators</h4>
                <p>Wees de eigen regisseur over uw vrijheid. Wij hebben een breed assortiment aan keuze</p>
            </div>
            <span class="arrow">&gt;</span>
        </a>
    </section>
</div>

<style type="text/css">
    @media screen and (max-width: 767px){

        .cms-index-index #homepage_slider a .txt_ct {
            background-color: #fffb;
            width: 100%;
            padding: 7% 3% 5% 3%;
        }

        .cms-index-index #homepage_slider a .button { display:inline-block; }

        .cms-index-index #homepage_slider a {
            background-position: 70% 70%;
            background-size: 110% auto;
            padding: 3% 3% 3% 38%;
        }

    }

    @media screen and (max-width: 449px){
        .cms-index-index #homepage_slider { font-size:11px; }
    }

</style>

<script type="text/javascript">// <![CDATA[
// doc: http://www.landmarkmlp.com/js-plugin/owl.carousel/#customizing

jQuery(function ($) {
    if($(window).width()<768 && $("#homepage_slider").children().size()>1){
        var sliderDiv$ = jQuery("#homepage_slider");
        sliderDiv$.css({
            'max-height': '200px'
        });

        sliderDiv$.slick(
            {
                dots: true,
                arrows: false,
                centerMode: true,
                centerPadding: '0px', //change to show slides on the sides
                variableWidth: false,
                slidesToShow: 1
            }
        );
    }

});
// ]]></script>
