<div class="container section hero" style="padding: 20px 15px;">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="side-custom-menu" id="collapse-menu" style="display:none;">{{block type="core/template" template="smartwave/megamenu/html/sidemenu.phtml"}} {{block type="core/template" template="smartwave/megamenu/html/sidemobilemenu.phtml"}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 md-f-right">

            <div id="homepage_banners" class="row">

                <div class="col-xs-12 col-sm-8 col-md-9 slider-area">
                    <div class="big-banner gradient hero sm-xs-margin-bottom">
                        <a href="/gratis-rollator-brochure" title="Sta-op Stoelen" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/Klok-woonkamer-rob1a.jpg'); background-position:22% center;">
                            <p class="text_top">BBRain Intelligente Kalenderuhr <small>Die perfekte Speicherunterstützung!</small></p>
                            <!--p class="text_round">Incl.<br>speciale<br><span style="font-weight:600;">aanbieding</span></p--><!--em class="fa fa-percent" style="font-size: 0.8em; display: inline-block;position: relative;top: -2px;"></em-->

                            <!--p class="go_button">Brochure aanvragen <em class="fa fa-caret-right"></em></p-->
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 small-banners">
                    <div class="small-banner">
                        <a class="vback" href="/fitform" title="Verstelbaar Bedhek Hulpmiddelwereld" target="_self" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/verstelbaar_bedhek_1_.png')">
                            <p class="text_bottom">Verstellbare Bettschiene</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/slechtzienden/kalenderklokken" title="Seniorenklokken" style="background-size: auto 73%; background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/thumbnail_Klok-wit-middag-1.jpg')">

                            <p class="text_bottom">Senioren Uhren</p>
                            <div class="go_arrow fa fa-caret-right"></div>
                        </a>
                    </div>

                    <div class="small-banner">
                        <a class="hback" href="/tena" title="TENA" style="background-image:url('https://www.hulpmiddelwereld.nl/media/wysiwyg/HMW/voorpagina-blokjes/Tena2.jpg')">

                            <p class="text_bottom go_text">Jetzt mit kostenlosem Testpaket <em class="fa fa-caret-right"></em></p>

                        </a>
                    </div>
                </div>

            </div>

            <!--<script type="text/javascript">// <![CDATA[-->
            <!--jQuery(function($){-->
            <!--$("#banner-slider-demo-4").owlCarousel({autoPlay:true,lazyLoad:true, stopOnHover: true,pagination: true, autoPlay: true,navigation: false,slideSpeed : 500,paginationSpeed : 500,singleItem:true});-->
            <!--});-->
            <!--// ]]></script>-->
        </div>
    </div>
</div>

<style type="text/css">
    /* Classes: apply on <a> inside .small-banner
       - hback: set horizontal background
       - vback: set vertical background
       - lback: set background on the left
       - rback: set background on the right
    */

    /*
         .big-banner a p.text_top { top:8% !important; }
         .big-banner a { background-position:48% -19% !important; background-size:174% !important; }
        .big-banner a p.text_round { top:32% !important; left:68% !important; }
    */

</style>
