/* Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.bb_lngpg {
    margin-top: 2em;
}
.bb_lngpg .blocks {
    margin:0;
}

.bb_lngpg .mainphoto {
    height: 43vw;
    max-height: 520px;
    position: relative;
    background-position: center top;
}

.bb_lngpg  .mainphoto .quote {
    position: absolute;
    width: 50%;
    top: 70%;
    right: -3%;
    text-align: center;
    color:#ffffff;
    font-size: 1.3em;
    line-height: 1.5em;
    background-color: rgba(21,57,85,0.8);
    padding: 1.2em 2.4em 1.2em 1.2em;
    border-radius:12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bb_lngpg  .mainphoto .quote .imgbox {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}
.bb_lngpg  .mainphoto .quote .qtop {
    position: absolute;
    top: 0.6em;
    left: 0.8em;
}
.bb_lngpg  .mainphoto .quote .qbottom {
    position: absolute;
    bottom: 0.8em;
    right: 1.8em;
}
.bb_lngpg  .mainphoto .quote .qtext {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.bb_lngpg  #direct_bestellen {}
.bb_lngpg  #direct_bestellen .lt h3 {
    text-align: right;
    margin:0;
    line-height: 1.2em;
    font-weight: 600;
}
.bb_lngpg  #direct_bestellen .rt .ct {
    column-count: 2;
    text-align: left;
    padding-left: 5%;
    column-gap: 5%;
    font-size: 1.1em;
}

.bb_lngpg #welke_functies { padding-top:0; }
.bb_lngpg #welke_functies h2 { margin:0; padding-left:32px; }
.bb_lngpg #welke_functies .w33 {
    position:relative;
    width:31.5%;
    background-color:#EEEEEE;
    padding-bottom:6%;
    margin-bottom: 3%;
}
.bb_lngpg #welke_functies .bclck { padding: 10% 6% 8% 8%; }
.bb_lngpg #welke_functies .bclck h4 { margin-top:0; line-height: 1.4em; }
.bb_lngpg #welke_functies .w33 img { width:100%; }
.bb_lngpg #welke_functies .w33 .btnct {
    position: absolute;
    left:0;
    bottom:2%;
    width: 84%;
    padding: 0% 8%;
}
.bb_lngpg #welke_functies .w33 .btnct .button {
    display:block; text-align: center;
    padding-left:0; padding-right:0;
    border-color: rgb(21,57,85);
    color:rgb(21,57,85);
    border-radius: 3px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 600;
}


.bb_lngpg #instrvideo .godw {
    text-align: center;
    padding-bottom: 64px;
}
.bb_lngpg #instrvideo .godw h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin: 1.5em 0;
    color: #153955;
    line-height: 1.1em;
}
.bb_lngpg #instrvideo .godw a {
    display: inline-block;
    background-color: #153955;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #FFFFFF;
}
.bb_lngpg #instrvideo .sqvideo {
    background-color: #153955;
    color: #FFFFFF;
    text-align: center;
}
.bb_lngpg #instrvideo .sqvideo h2 {
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 32px;
    text-align: left;
    margin: 1em 0;
}
.bb_lngpg #instrvideo .sqvideo .media_ct {
    padding:8px 0 32px 0;
}


.bb_lngpg #reviews {
    background-color:#EEEEEE;
    padding-bottom: 3em;
}
.bb_lngpg #reviews .blocks {
    background-color:#EEEEEE;
    padding-top: 100px;
    padding-bottom: 0;
    justify-content: space-around;
    justify-content: space-evenly;/*IE*/
}
.bb_lngpg #reviews h2 {
    text-align: center;
    margin: 2em 0 1.4em 0;
}
.bb_lngpg #reviews .w33 {
    width: 30%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 4.0em 2% 3.2em 2%;
    margin: 1%;
    color: #153955;
    position: relative;
}
.bb_lngpg #reviews .w33 p.stars {
    margin: 1.2em 0;
    color:#F0D93F;
    font-size:28px;
}
.bb_lngpg #reviews .w33 .revface{
    position: absolute;
    width: 100%;
    top:-62px;
    left: 0;
}
.bb_lngpg #reviews .w33 .greyround {
    margin: 0 auto;
    background-color:#EEEEEE;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    padding: 0 12px;
}
.bb_lngpg #bbrainvideo1 {
    width:800px;
    height: 450px;
}



@media (max-width: 1199px) and (min-width: 990px) {
    .bb_lngpg  .mainphoto { max-height: 400px; }
    .bb_lngpg  .mainphoto .quote { width:62%; }
}

@media (max-width: 991px) {
    .bb_lngpg  .mainphoto { max-height: 330px; }
    .bb_lngpg  .mainphoto .quote { font-size:1.1em; width:80%; }
    .bb_lngpg  .usps_t1 { padding: 3em 1em; }
    .bb_lngpg  .usps_t1 .imgbox { width:60px; height:60px; }
    .bb_lngpg #bbrainvideo1 { width:600px; height: 335px; }
}

@media (max-width: 991px) and (min-width: 767px) {
    .bb_lngpg  .mainphoto { max-height: 330px; }
}

@media screen and (max-width: 767px) {
    .bb_lngpg { margin-left:-16px; margin-right:-16px; }
    .bb_lngpg .mainphoto .quote { top:89%; right:0; width:89%; background-color: rgba(21,57,85,1); }
    .bb_lngpg #direct_bestellen { padding-top: 12vh; }
    .bb_lngpg #direct_bestellen .lt h3 { text-align: left; margin-bottom: 2.4em; }
    .bb_lngpg #direct_bestellen .rt .ct { text-align: left; padding: 0; }
    .bb_lngpg #welke_functies .w33 { width:48.5%; }
    .bb_lngpg #reviews .w33 .imgbox ,
    .bb_lngpg #reviews .w33 .greyround { width: 100px; height: 100px; }
    .bb_lngpg #reviews .w33 .greyround { padding: 0 10px; }
    .bb_lngpg #reviews .blocks { padding-top: 36px; }
    .bb_lngpg #reviews .w33 { width: 99%; padding: 1em 5% 2em 5%; margin: 1% 3%; }
    .bb_lngpg #reviews .w33 .revface{ position: static; width: auto; float: right; margin-left: 3%; margin-top:8px; }
    .bb_lngpg #reviews .w33 .revtext{ text-align: left; }
    .bb_lngpg #reviews .w33 .revtext .txt { clear: both; }
    .bb_lngpg #bbrainvideo1 { width: 88vw; height: 49vw; }
}

@media screen and (max-width: 549px) {
    .bb_lngpg #welke_functies .w33 { width:99.5%; margin-bottom: 8%; }
    .bb_lngpg #welke_functies .bclck { padding:6% 4% 12% 6%; }
    .bb_lngpg #welke_functies .w33 .btnct { width: 88%; padding: 0% 6%; }
}

@media screen and (max-width: 449px) {
    .bb_lngpg #direct_bestellen { padding-top: 15vh; }
    .bb_lngpg  #direct_bestellen .rt .ct { column-count: 1; }
    .bb_lngpg .usps_t1 .t { margin-top:0.6em; }
    .bb_lngpg  .usps_t1 .imgbox { width:50px; height:50px; }
    .bb_lngpg  .usps_t1 .usp { font-size:0.85em; }
}


/* End - Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

