/* Common Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    margin:0;
    padding:0;
    color:#555555;
    font-family: "Open Sans",Arial,Helvetica;
    font-size:13px;
    line-height:1.3em;
    letter-spacing:0.05em;
}

h1 { font-size:2.0em;  font-weight:600; margin: 3em 0; }
h2 { font-size:1.7em;  font-weight:600; margin: 2em 0; }
h3 { font-size:1.5em;  font-weight:600; margin: 1.8em 0; }
h4 { font-size:1.2em; font-weight:600; margin: 1.5em 0; }
h5 { font-size:1.05em; font-weight:600; margin: 1em 0; }

a { color:#62b3e0; text-decoration:underline; }
a:hover { text-decoration:underline; }
p { margin:0.5em 0; }
strong { font-weight:600; }

/* Elements */
.separator_h1 {
    background-color:#62b3e0;
    height:1px;
    margin: 1.6em 0;
}
.separator_h2 {
    background-color:#62b3e0;
    height:3px;
    margin: 1.6em 0;
}


/* Header Bar */
.header_bar {
    background-color:#05a;
    color:#fff;
    font-size:0.85em;
}
.header_bar .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;

}
.header_bar a { color:#fff; }
.header_bar .left { }
.header_bar .right { }


/* Header */
.header {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.03em;
}


/* USPS */
.usps {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.usps p { margin:0; }
.usps .usp { padding:0 0.4em; }


/* Main menu */
.menu {
    background-color:#05a;
    color:#fff;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.09em;
    flex-wrap: wrap;
}
.menu a {
    display:block;
    padding: 0.8em 1.6em;
    color:#fff;
    text-decoration:none;
    background-color:#05a;
}
.menu a.red {
    background-color:#ed6a65;
}


/* Buttons */
a.button, .button {
    padding: 0.2em 0.8em;
    display: inline-block;
    color:#62b3e0;
    border: 1px solid #6cb9e3;
    border-radius:5px;
    text-decoration:none;
    letter-spacing: 0.08em;
    cursor: pointer;
}
a.button:hover, .button:hover { background-color:#9cf3; }
a.button.white, .button.white {
    color:#ffffff;
    border-color: #ffffff;
}
a.button.white:hover, .button.white:hover { background-color:#fff3; }
a.button_t1, .button_t1 {
    padding: 0.9em 2em;
    border-radius:8px;
}


/* Icons */


/* Block */
.blocks {
    margin-bottom: 0.5em;
    background-color: #fff;
    padding: 2em 1.4em 3em 1.4em;
    text-align: center;
    line-height: 1.5em;
}
.blocks.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 100%;*/
    overflow: hidden;
    justify-content: space-between;
    margin: 0;
}


.blocks .button_t1 {
    margin-top: 3em;
    margin-bottom: 3em;
}
.blocks .button_t2 {
    padding: 0.4em 1.8em;
    margin-top: 1.2em;
    font-size: 0.9em;
}
.blocks .button_t3 {
    padding: 0.4em 0.8em;
    margin-top: 2em;
    font-size: 0.95em;
}

.blocks h3.blue {
    color:#62b3e0;
    font-weight: 100;
    letter-spacing: 0.2em;
}

.blocks .text {
    text-align: left;
    padding:0.8em 1.6em;
}
.blocks .w25, .blocks .w33, .blocks .w50, .blocks .w66,
.blocks .wp25, .blocks .wp33, .blocks .wp50, .blocks .wp66,
.blocks .wpp25, .blocks .wpp33, .blocks .wpp50, .blocks .wpp66 {
    display:block;
    position: relative;
    text-decoration: none;
}

.blocks .wp25, .blocks .wp33, .blocks .wp50, .blocks .wp66 {
    padding:3% 2%;
}

.blocks .wpp25, .blocks .wpp33, .blocks .wpp50, .blocks .wpp66 {
    padding:3% 5%;
}

@media screen and (min-width: 710px) {
    .blocks.columns.inverted { flex-direction:row-reverse; }
    .blocks .w25 { width:25%; position:relative; }
    .blocks .w33 { width:33.3%; position:relative; }
    .blocks .wp33 { width:29.3%; padding:3% 2%; position:relative; }
    .blocks .wpp33 { width:26.4%; padding:3% 3.5%; position:relative; }
    .blocks .w50 { width:50%; position:relative; }
    .blocks .wp50 { width:46%; padding:3% 2%; position:relative; }
    .blocks .w66 { width:66.6%; position:relative; }
    .blocks .wp66 { width:62.7%; padding:3% 2%; position:relative; }
    .blocks .wpp66 { width:60.7%; padding:3% 3%; position:relative; }
    .hidden-md { display:none !important; }

    .blocks .biglineh { line-height:2.0em; }
}

.blocks.nopadding, .blocks .nopadding { padding: 0em; }
.blocks.nopadding-lr, .blocks .nopadding-lr { padding-left:0em; padding-right:0em; }
.blocks.nopadding-tb, .blocks .nopadding-tb { padding-top:0em; padding-bottom:0em; }
.blocks.bigpadding, .blocks .bigpadding { padding: 2em 6em 3em 6em; }


/* Utilities */
.small { font-size: 0.85em;  }
.big { font-size: 1.15em; }
.strong { font-weight: 600; }
.italic { font-style: italic; }
.absolute { position: absolute; }
.imgbox {
    display: inline-block;
    background-size:contain;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:middle;
    max-width: 100%;
}
.imgback {
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.grey1back { background-color:#ccc; }
.grey2back { background-color:#ddd; }
.grey3back { background-color:#eee; }
.grey4back { background-color:#eee; }
.grey5back { background-color:#eee; }

.flex_column_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}




/* End - Common Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

