/* Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {
    background-color:#eeeeee;
}

.main_table {
    margin: 0 auto;
    width: 650px;
}

.wrapper {
    margin: 0 auto;
    width: 650px;
    padding-top: 3em;
}

.usps.usps_t1 {
    width: 100%;
    padding-left: 5em;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #666666;
}

.usps.usps_t2 {
    padding: 1.2em 2.4em;
    color: #05a;
    font-size: 0.95em;
    font-weight: 600;
}
.usps.usps_t2 .usp {
    display: flex;
    align-items: center;
    justify-content: center;
}
.usps.usps_t2 .usp .imgbox { margin-right:0.6em; }

.usps.usps_t3 {
    padding: 1em 4em 1em 4em;
    font-size:0.8em;
    line-height: 1.5em;
    color: #777;
}

.mainphoto {
    width: 100%;
    height: 430px;
    position: relative;
    display: flex;
    justify-content: center;
}

.mainphoto .button {
    position: absolute;
    top: 85%;
    border-width: 2px;
}

#topcat .w33 {
    height: 320px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contacts {
    background-color: #05a;
    padding: 1.6em 1.6em 0 2.4em;
    color:#ffffff;
}
#contacts .ico_left {
    float: left;
    margin-right:2em;
}
#contacts .review_count span.c {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    font-size: 1.15em;
}
#contacts .review_count span.d {
    font-size:0.85em;
}
#contacts a.ma { display:block; text-decoration:none; color:inherit; }
#contacts a.ma p { display:inline-block; }
#contacts .mb { margin-bottom:2.4em; }
#contacts .mr { margin-right:1.6em; }

#footer { margin-bottom: 3em; }

.producten1 .columns h5 { margin-bottom:0em; }
.producten1 .columns .italic { margin:0.4em 0 1.6em 0; }
.producten1 .columns .plus { font-size:0.90em; margin-top: 1em; }
.producten1 .columns .plus .imgbox { vertical-align: sub; }
.producten1 .columns .stars { margin-top:1.2em;  }
.producten1 .columns .stars .imgbox { width: 20px; }

@media screen and (min-width: 710px) {
    .producten1 .columns { text-align: left; }
    .producten1 .columns p.imgbox { margin-left: auto; margin-right: auto; display: block; }
    .producten1 .columns .small { font-size:0.90em; }


    .producten2 .columns p,
    .producten2 .columns h5 { text-align: left; padding:0 0.8em; }
    .producten2 .columns .small { line-height:1.4em; }
    .producten2 .blocks_p1 .wp33 { padding-bottom:8%; }
    .producten2 .blocks_p1 .absolute { top:89%; text-align:center; width:85%; }
    .producten2 .blocks_p2 p { margin-bottom:6%; }
}


/* End - Custom Style Css * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

