<body>

<!-- [ header starts here] -->
<div class="header"><a href="{{store url=""}}" title="{{var store.getFrontendName()}}" style="background-image:url('{{skin url="images/logo_white_plus_mail.png" _area='frontend'}}');"></a></div>

<div class="main_ct">

    <h1>Beste {{htmlescape var=$order.getCustomerName()}},</h1>

    <p>
        Bedankt voor uw bestelling via {{var store.getFrontendName()}}.
        U kunt de status van uw bestelling controleren door <a href="{{store url="customer/account/"}}">in te loggen op uw account</a>.
        Indien u vragen heeft, neem dan gerust contact op via <a href="mailto:{{config path='trans_email/ident_support/email'}}">{{config path='trans_email/ident_support/email'}}</a>.
    </p>

    <p>Heeft u voor Achteraf Betalen gekozen? Dan wordt de factuur naar uw e-mailadres verstuurd.</p>

    <p>Een bevestiging van uw bestelling vindt u hieronder. </p>

    <h2>Uw Bestelling #{{var order.increment_id}} <small>(geplaatst op {{var order.getCreatedAtFormated('long')}})</small></h2>

    <table cellspacing="0" cellpadding="0" border="0">
        <!-- [ middle starts here] -->
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" class="recap">
                    <thead>
                        <tr>
                            <th>Factuurgegevens:</th>
                            <th class="tspace"></th>
                            <th>Betaalmethode:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td class="tspace"></td>
                            <td>
                                {{var payment_html}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                {{depend order.getIsNotVirtual()}}
                <table cellspacing="0" cellpadding="0" border="0" class="recap">
                    <thead>
                    <tr>
                        <th>Verzend gegevens:</th>
                        <th class="tspace"></th>
                        <th>Verzendmethode:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{var order.getShippingAddress().format('html')}}
                        </td>
                        <td class="tspace"></td>
                        <td>
                            {{var order.getShippingDescription()}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{/depend}}

                <div class="recap">
                    {{layout handle="sales_email_order_items" order=$order}}
                </div>
                <p>{{var order.getEmailCustomerNote()}}</p>
            </td>
        </tr>
    </table>

    <div class="footer">
        <p>Bedankt voor uw aankoop,<br/><strong>{{var store.getFrontendName()}}</strong></p>
    </div>

</div>
</body>