
body,td {
    margin:0;
    padding:0;
    color:#2f2f2f;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:1.2em;
}

.header {
    margin-bottom:32px;
    text-align: center;
    background-color: rgb(0,97,170);
}
.header a {
    display:block;
    height:80px;
    background-position:center center;
    background-repeat: no-repeat;
}

.footer {
    margin-top:32px;
    text-align: right;
}

.main_ct {
    width:650px;
    margin: 0 auto;
}

h1 {
    font-size:22px;
    font-weight:normal;
    line-height:1.1em;
    margin:18px 0 14px 0;
}
h2 {
    font-size:18px;
    font-weight:normal;
    margin:16px 0 10px 0;
}
p { margin:0 0 8px 0; }
a { color:#1E7EC8; }

.recap {
    width: 650px;
    margin-bottom:16px;
}
.recap th {
    text-align: left;
    width: 325px;
    background-color: #EAEAEA;
    font-size:1.05em;
    padding:5px 9px 6px 9px;
    line-height:1em;
}
.recap .tspace { width:10px; margin:0; padding:0; border:0; background:none; }
.recap td {
    vertical-align: top;
    padding:7px 9px 9px 9px;
    border-left:1px solid #EAEAEA;
    border-bottom:1px solid #EAEAEA;
    border-right:1px solid #EAEAEA;
}
