<body>

<!-- [ header starts here] -->
<div class="header"><a href="{{store url=""}}"><img src="{{skin url="images/logo_white_plus_mail.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}" /></a></div>

<div class="main_ct">



</div>

<table class="main_ct" cellspacing="0" cellpadding="0" border="1">
    <!-- [ middle starts here] -->
    <tr>
        <td valign="top">
            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Beste {{htmlescape var=$order.getCustomerName()}},</h1>
            <p style="font-size:12px; line-height:16px; margin:0;">
                Bedankt voor uw bestelling via {{var store.getFrontendName()}}.
                U kunt de status van uw bestelling controleren door <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">in te loggen op uw account</a>.
                Indien u vragen heeft, neem dan gerust contact op via <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
            </p>
    </tr>
    <tr>
        <td>
            <p style="font-size:12px; line-height:16px; margin:0;">Heeft u voor Achteraf Betalen gekozen? Dan wordt de factuur naar uw e-mailadres verstuurd.</p>
    </tr>
    <tr>
        <td>
            <p style="font-size:12px; line-height:16px; margin:0;">Een bevestiging van uw bestelling vindt u hieronder. </p>
    </tr>
    <tr>
        <td>
            <h2 style="font-size:18px; font-weight:normal; margin:0;">Uw Bestelling #{{var order.increment_id}} <small>(geplaatst op {{var order.getCreatedAtFormated('long')}})</small></h2>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <thead>
                <tr>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Factuurgegevens:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Betaalmethode:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                        {{var order.getBillingAddress().format('html')}}
                    </td>
                    <td>&nbsp;</td>
                    <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                        {{var payment_html}}
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            {{depend order.getIsNotVirtual()}}
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <thead>
                <tr>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Verzend gegevens:</th>
                    <th width="10"></th>
                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Verzendmethode:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                        {{var order.getShippingAddress().format('html')}}
                        &nbsp;
                    </td>
                    <td>&nbsp;</td>
                    <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                        {{var order.getShippingDescription()}}
                        &nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            {{/depend}}
            {{layout handle="sales_email_order_items" order=$order}}
            <p style="font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Bedankt voor uw aankoop, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
    </tr>
</table>
</body>